<div class="b-news-list__item__inner">
    <h2 class="b-news-list__item__title">
        <a href="{{ path('trans_page_useful_info_article', {slug: article.slug}) }}">
            {{ article.title }}
        </a>
    </h2>

    <div class="b-news-list__item__img-frame">
        {% thumbnail article.media, 'small' %}
    </div>

    <div class="b-date b-news-list__item__date">
        {{ article.created|date('d M  Y в H:i') }}
    </div>

    <div class="b-news-list__item__text">
        {{ article.announcement }}
    </div>
</div>