{% set columns = 0..3 %}
{% set articlesLength = articles|length %}
{% set columnsLength = columns|length %}
{% set j = 0 %}
{% set k = 0 %}
{% set counter = 0 %}
{% for columnIndex in columns %}
    {% if j < articlesLength%columnsLength %}
        {% set j = j + 1 %}
        {% set k = 1 %}
    {% else %}
        {% set k = 0 %}
    {% endif %}

    <div class="b-four-col__col {% if loop.last %} {{ 'b-four-col__col-last' }} {% endif %} b-news-list"
         id="news-column-{{ columnIndex + 1 }}">
        <ul>
            {% for index in counter..(toint(articlesLength/columnsLength) + counter + k) - 1 %}
                {% if counter < articlesLength %}
                    <li class="b-news-list__item">
                        {{ include('@TransPage/Page/_announcement.html.twig', { article : articles[counter] }) }}
                    </li>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}
<div class="clear">
</div>