{% extends '::base.html.twig' %}

{% block body %}
    <div class="row" >
        <h2 class="b-info-title">
            {{ 'Useful information'|trans }}
            <div class="b-info-caption">
                <label for="useful-info-rubrics">{{ 'rubric'|trans }}:</label>
                <select class="b-info-caption__select" id="useful-info-rubrics" name="useful-info-rubrics">
                    <option value="0">{{ 'All'| trans }}</option>
                    {% for rubric in rubrics %}
                        <option value="{{ rubric.id }}">{{ rubric.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </h2>

        <div class="b-four-col">
            {{ include('@TransPage/Page/_announcements.html.twig') }}
        </div>

        <div class="b-news-more-button">
            <input type="hidden" name="page-id" id="page-id" value="2">
            <a class="b-button" href="javascript:void(0);" id="load-more-articles">{{ 'more'|trans }}</a>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/transpage/js/articleLoader.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            article.init({
                url: '{{ path('trans_page_useful_info_load_articles') }}'
            });
        });
    </script>
{% endblock %}