{% extends '::base.html.twig' %}
{% block body %}


    <div class="row b-hotel">
        <div class="b-hotels">
            <h2>{{ 'Hotels'|trans }}</h2>

            {{ partial('hotel-index')|raw }}

            <div class="b-hotel-list">
                <ul>
                    {% for city in cities %}
                        {% if city.hotels |length >0 %}
                            <li class="b-hotel-list__item">
                                <a class="b-hotel-list__item__city" href="#">
                                    {{ city.name }}
                                    <span class="js-hover-text">
									{{ 'See hotels'|trans }}
								</span>
                                </a>

                                <div class="clear"></div>

                                <div class="b-sub-hotel-list">
                                    <ul>
                                        {% for hotel in city.hotels %}
                                            <li class="b-sub-hotel-list__item ">
                                                <div class="b-sub-hotel-list__item__image-frame">
                                                    {% thumbnail hotel.media, 'small' %}
                                                </div>

                                                <div class="b-sub-hotel-list__item__details">
                                                    <p>
                                                        <strong>{{ 'Hotel'|trans }} "{{ hotel.name }}"</strong>
                                                        - {{ hotel.shortDescription }}
                                                    </p>
                                                    <!-- <p> -->
                                                    {{ 'Stars'|trans }}:
                                                    <ul class="hotel-stars">
                                                        {% if hotel.stars > 0 %}
                                                        {% for star in 1..hotel.stars %}
                                                            <li class="hotel-stars__item">
                                                                <img alt=""
                                                                     src="{{ asset('public/img/icon-star.png') }}"/>
                                                            </li>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                    <!-- </p> -->
                                                    <br>

                                                    <p>
                                                        {{ 'Kitchen'|trans }}:
                                                        {% for kitchen in hotel.kitchens %}
                                                            {{ kitchen.name }}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                <!-- b-sub-hotel-list__item__details -->

                                                <div class="clear"></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- b-sub-hotel-list__item__hotel-list -->
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- b-hotel-list -->
        </div>
        <!-- b-hotel-list -->

        {{ render(controller('TransTicketBundle:OrderHotel:new')) }}


        <div class="clear"></div>
    </div> <!-- b-hotel -->
{% endblock %}