{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-partners-page">
        <h2 class="b-partners__title">
            {{ 'tranavia awards'|trans }}
        </h2>

        <div class="b-partners-list">
            <ul>

                {% for award in awards %}
                    <li class="b-partners-list__item">
                        <div class="b-awards-image awards-img b-image-frame">
                            <a href="{% path award.media, 'big' %}" title="{{ award.description and award.description != '' ? award.description|slice(0, 50) ~ '...' : '' }}" class="group-awards">{% thumbnail award.media, 'small' %}</a>
                        </div>
                        <!-- b-partner-image -->

                        <div class="b-partner-description">
                            {{ award.description }}
                        </div>
                        <!-- b-partner-description -->

                        <div class="clear"></div>
                    </li>
                {% endfor %}
            </ul>

            <div class="clear"></div>
        </div>
        <!-- b-partners-list -->

        <div class="clear"></div>
    </div> <!-- b-partners-page -->

    {{ include('@TransPartial/slogans.html.twig') }}

{% endblock %}