<ul class="b-slides">
{% for award in awards %}
    <li class="b-awards-main__list__item">
        <div class="b-awards-main__image">
            <a href="{% path award.media, 'big' %}" class="group-awards" title="{{ award.description and award.description != '' ? award.description|slice(0, 50) ~ '...' : '' }}">{% thumbnail award.media, 'index' %}</a>
        </div>
        <div class="b-awards-main__description">
            {{ award.description and award.description != '' ? award.description|slice(0, 100) ~ '...' : '' }}
        </div>
    </li>
{% endfor %}
</ul>