<h2>{{ 'Order tour' |trans }}</h2>

{{ form_start(form) }}
{% for flashMessage in app.session.flashBag.get('notice') %}
    <h3>{{ flashMessage |trans }}</h3>
{% endfor %}
<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.name) }}:
        </div> <!-- b-label -->
        <div class="b-input">
            {{ form_widget(form.name) }}
        </div> <!-- b-input -->
    </div> <!-- item -->
    <div class="clear"></div>
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.telephone) }}:
        </div> <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.telephone) }}:
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.email) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.email) }}
        </div>
    </div> <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.checkOut) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            {{ form_widget(form.checkOut) }}
        </div>
        <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.checkIn) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            {{ form_widget(form.checkIn) }}
        </div>
        <!-- b-input -->
    </div> <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.country) }}:
        </div>
        <!-- b-label -->
        <div class="b-select b-select-292">
            {{ form_widget(form.country) }}
        </div>
        <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.city) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.city) }}
        </div>
        <!-- b-input -->
    </div> <!-- item -->
</div>


<div class="b-item b-item-checkbox">
    <h3 class="b-checkbox-list__title">{{ form_label(form.profiles) }}:</h3>

    {{ form_widget(form.profiles) }}

</div> <!-- b-item -->

<div class="clear"></div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.otherProfile) }}:
        </div> <!-- b-label -->

        <div class="b-input b-input-short">
            {{ form_widget(form.otherProfile) }}
        </div> <!-- b-input -->
    </div> <!-- item -->
</div>

<div class="clear"></div>



<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.hotelCategory) }}:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            {{ form_widget(form.hotelCategory) }}
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.foodType) }}:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">

            {{ form_widget(form.foodType) }}
        </div> <!-- b-input -->
    </div> <!-- item -->
</div>


<div class="b-row b-passanger-number">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.hotelPlacement) }}:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            {{ form_widget(form.hotelPlacement) }}
        </div> <!-- b-input -->
    </div> <!-- item -->

    <div class="b-item">
        <div class="pull-left">
            <div class="b-label">
                {{ form_label(form.adults) }}:
            </div>
            <div class="input">
                {{ form_widget(form.adults) }}
            </div>
        </div>
        <!-- item -->

        <div class="pull-left">
            <div class="b-label">
                {{ form_label(form.children) }}:
            </div>
            <div class="input">
                {{ form_widget(form.children) }}
            </div>
        </div>


        <div class="item b-item-select-short pull-right">
            <div class="b-label">
                {{ form_label(form.hotelChildrenAge) }}:
            </div> <!-- b-label -->
            <div class="b-select b-select-292">
                {{ form_widget(form.hotelChildrenAge) }}
            </div> <!-- b-input -->
        </div> <!-- item -->
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<div class="b-item b-item-submit text-center">
    {{ form_row(form.submit) }}
</div> <!-- item -->
{{ form_end(form) }}