{% extends 'TransTicketBundle::message_layout.html.twig' %}
{% block body %}
    Ф.И.О: {{ tour.name }}
    Пункт назначения: {{ tour.destinationPoint|default("~") }}
    Предполагаемая дата заезда: {{ tour.checkout|date("d-m-Y") }}
    Предполагаемая дата выезда: {{ tour.checkout|date("d-m-Y") }}

    Страна: {{ tour.country }}
    Город: {{ tour.city }}
    Категория отеля: {{ tour.hotelCategory }}
    Питание:    {{ tour.foodType }}
    Размещение:    {{ tour.hotelPlacement }}
    Дети: {{ tour.children }} Возраст: {{ tour.hotelChildrenAge }}
    Взрослые: {{ tour.adults }}

    {% for profile in tour.profiles %}
        {{ profile }}
    {% endfor %}
    {% if tour.otherProfile %}
        {{ tour.c }}
    {% endif %}
{% endblock %}