{% extends '::base.html.twig' %}
{% form_theme form.profiles 'TransTicketBundle:OrderTour:widgets.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/perfect-scrollbar.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.scroll-block').perfectScrollbar({wheelSpeed: 30, suppressScrollX: false});
        });
    </script>
    <script src="{{ asset('public/js/masonry.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/transnews/js/news.js') }}" type="text/javascript"></script>

{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/perfect-scrollbar.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="row b-rails b-tour-full">
    <div class="b-online">
    <div class="b-online-inner">
    <div class="b-online__form">
    {% include '@TransTicket/OrderTour/form.html.twig' %}
    </div> <!-- form -->
    </div> <!-- online-inner -->
    </div> <!-- online -->


    <div class="b-rails-left-col b-tour-left-col">
    {{ partial('tour-text')|raw }}
    </div> <!-- b-rails-left-col -->


    <div class="b-tour-right-col">
        <div class="b-rails-offices">
            <div class="b-rails-offices-inner">
                {{ partial('tour-contacts')|raw }}
            </div> <!-- b-rails-offices-inner -->
        </div> <!-- b-rails-offices -->



        <div class="b-contacts__social b-tour__social">
            <h2 class="b-contacts__social__title">Мы в социальных сетях</h2>
            {{ partial('soc-seti')|raw }}
        </div>

        <div class="b-tour__banner pull-right">
            {% render controller('TransTicketBundle:Banner:getBanner', {'bannerPosition':'order-tour'}) %}
        </div>
        <div class="clear"></div>
    </div> <!-- b-tour-right-col -->
    </div> <!-- b-rails -->
    <div class="clear"></div>
    {{ render(controller('TransNewsBundle:Tour:list')) }}
    <div style="display: none">
        {% include '@TransTicket/OrderTour/tours_popup.html.twig' %}
    </div>
{% endblock %}