<div class="b-online-popup" id="inline_content">
<div class="b-online-popup-inner">
<div class="b-online-popup__form">
<h2>Поиск туров онлайн</h2>

<form>
<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            Город отправления:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            <select class="b-input__select b-accomodation__input" name="">
                <option value="" checked>Алматы</option>
                <option value="">Астана</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            Тип тура:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            <select class="b-input__select b-accomodation__input" name="">
                <option value="" checked>Все</option>
                <option value="">Не все</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            Страна назначения:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            <select class="b-input__select b-accomodation__input" name="">
                <option value="" checked>Австрия</option>
                <option value="">Германия</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="b-item">
        <div class="b-label">
            Тур:
        </div> <!-- b-label -->
        <div class="b-select b-select-292">
            <select class="b-input__select b-accomodation__input" name="">
                <option value="" checked>Все</option>
                <option value="">Не все</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            Дата заезда:
        </div> <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            <input type="text" class="b-input__text b-date-leave__input" value="" placeholder="Дата заезда">
            <a href="#" class="b-datepicker-icon"></a>
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="item b-item-select-supershort pull-left">
        <div class="b-label">
            Продолжительность:
        </div> <!-- b-label -->
        <div class="b-select pull-left">
            c
            <select class="b-input__select b-age__input" name="">
                <option value="" checked>0-7</option>
                <option value="">8-10</option>
            </select>
        </div> <!-- b-input -->


        <div class="b-select pull-left">
            до
            <select class="b-input__select b-age__input" name="">
                <option value="" checked>0-7</option>
                <option value="">8-10</option>
            </select>
            ночей
        </div> <!-- b-input -->
    </div> <!-- item -->
    <div class="clear"></div>
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            Дата выезда:
        </div> <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            <input type="text" class="b-input__text b-date-arrive__input" value="" placeholder="Дата выезда">
            <a href="#" class="b-datepicker-icon"></a>
        </div> <!-- b-input -->
    </div> <!-- item -->


    <div class="item b-item-select-short pull-left">
        <div class="b-label">
            Взрослых:
        </div> <!-- b-label -->
        <div class="b-select pull-left">
            <select class="b-input__select" name="">
                <option value="">1</option>
                <option value="" checked>2</option>
                <option value="">3</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->

    <div class="item b-item-select-short pull-left">
        <div class="b-label">
            Детей:
        </div> <!-- b-label -->
        <div class="b-select pull-left">
            <select class="b-input__select" name="">
                <option value="">1</option>
                <option value="" checked>2</option>
                <option value="">3</option>
            </select>
        </div> <!-- b-input -->
    </div> <!-- item -->
    <div class="clear"></div>
</div>


<div class="b-row">
    <div class="b-checkbox-group-left">
        <div class="b-item b-item-checkbox">
            <h3 class="b-checkbox-list__title">Регион / Город:</h3>

            <div class="b-checkbox-list">
                <ul>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Любой
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Вена
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Озёра Зальцкаммергута
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Озёра Каринтии
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Термальные и SPA курорты
                        </label>
                    </li>
                </ul>
            </div> <!-- tour-region -->


            <div class="b-checkbox-list">
                <h3 class="b-checkbox-list__title">Категория:</h3>

                <ul>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            Любая
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            3*
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            4*
                        </label>
                    </li>
                    <li class="b-checkbox-list__item">
                        <input type="checkbox" class="checkbox" value="">
                        <label>
                            5*
                        </label>
                    </li>
                </ul>
            </div> <!-- hotel-cat -->
        </div> <!-- b-item -->
    </div> <!-- b-checkbox-group-left -->

    <div class="b-checkbox-group-right">
        <div class="b-item">
            <div class="b-label">
                Категория гостиницы:
            </div> <!-- b-label -->

            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-doc-num__input" value="Rixos" placeholder="">
            </div> <!-- b-input -->
        </div> <!-- item -->

        <div class="b-item b-item-checkbox-short">
            <input type="checkbox" class="checkbox" value="">
            <label>
                5*
            </label>
        </div>


        <div class="clear"></div>



        <div class="b-checkbox-group__hotels">
            <div class="b-checkbox-group__hotels-inner scroll-block">
                <div class="b-checkbox-list b-item">
                    <h3 class="b-checkbox-list__title">Категория:</h3>

                    <ul>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Aichingerwirt Gasthof (Mondsee) 3*
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Alex (St. Kanzian) 3*
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Ambassador (Poertschach) 3*
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Arcotel Wimberger 4*sup
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Atlantis 4*
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Bellevue (Seeboden) 4*
                            </label>
                        </li>
                        <li class="b-checkbox-list__item">
                            <input type="checkbox" class="checkbox" value="">
                            <label>
                                Brandauer's Villen ( Strobl) 4*S
                            </label>
                        </li>
                    </ul>
                </div> <!-- hotel-list -->
            </div> <!-- b-checkbox-group__hotels-inner -->
        </div> <!-- b-checkbox-group__hotels -->
    </div> <!-- b-checkbox-group-right -->

    <div class="clear"></div>
</div> <!-- b-row -->

<div class="clear"></div>

<div class="b-row">
    <div class="b-checkbox-group-left">
        <div class="item b-item-select-supershort pull-left">
            <div class="b-label">
                Цена:
            </div> <!-- b-label -->
            <div class="b-select pull-left">
                c
                <select class="b-input__select" name="">
                    <option value="" checked>0</option>
                    <option value="">1000</option>
                </select>
            </div> <!-- b-input -->


            <div class="b-select pull-left">
                до
                <select class="b-input__select" name="">
                    <option value="" checked>0</option>
                    <option value="">1000</option>
                </select>
            </div> <!-- b-input -->
        </div> <!-- item -->
        <div class="clear"></div>
    </div> <!-- b-checkbox-group-left -->

    <div class="b-checkbox-group-right">
        <div class="item b-item-select-short pull-left">
            <div class="b-label">
                Валюта:
            </div> <!-- b-label -->
            <div class="b-select pull-left">
                <select class="b-input__select" name="">
                    <option value="" checked>рубли</option>
                    <option value="">евро</option>
                </select>
            </div> <!-- b-input -->
        </div> <!-- item -->

        <div class="item b-item-select-short pull-left">
            <div class="b-label">
                Сортировка:
            </div> <!-- b-label -->
            <div class="b-select pull-left">
                <select class="b-input__select" name="">
                    <option value="" checked>по цене</option>
                    <option value="">по дате</option>
                </select>
            </div> <!-- b-input -->
        </div> <!-- item -->

        <div class="clear"></div>
    </div> <!-- b-checkbox-group-right -->
</div>
<div class="clear"></div>

<div class="b-row b-row-checkbox-horiz">
    <div class="b-checkbox-list b-item">
        <ul>
            <li class="b-checkbox-list__item">
                <input type="checkbox" class="checkbox" value="">
                <label>
                    Нет стоп-сейла в отеле
                </label>
            </li>
            <li class="b-checkbox-list__item">
                <input type="checkbox" class="checkbox" value="">
                <label>
                    Есть места на рейсе
                </label>
            </li>
            <li class="b-checkbox-list__item">
                <input type="checkbox" class="checkbox" value="">
                <label>
                    Мгновенное подтверждение
                </label>
            </li>
            <li class="b-checkbox-list__item">
                <input type="checkbox" class="checkbox" value="">
                <label>
                    Рекомендуемые отели
                </label>
            </li>
        </ul>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>

<div class="b-item b-item-submit text-center">
    <input type="submit" class="b-button" value="Искать тур">
</div> <!-- item -->
</form>
</div> <!-- form -->
<div class="clear"></div>
</div> <!-- online-inner -->
</div> <!-- b-online-popup -->