{% block choice_widget_expanded %}
    {% spaceless %}
        <div class="b-checkbox-list" {{ block('widget_container_attributes') }}>
            <ul>
            {% for child in form %}
                <li class="b-checkbox-list__item">
                {{ form_widget(child) }}
                {{ form_label(child) }}
                </li>
                {% if loop.index == 5 or loop.index == 10  %}
                    </ul>
                    </div>
                    <div class="b-checkbox-list">
                    <ul>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}