{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-hotel b-book">
        <div class="b-hotels">
            <h2>
                {{ page.announcement }}
            </h2>

            {{ page.content|raw }}
            <div class="clear"></div>
            {{ render(controller('TransPageBundle:Slides:miniSlider',{'page':page.id})) }}
        </div>

        <div class="b-services-contacts">

            <div class="b-contacts-content">
                {% if page.partial %}
                    {{ page.partial.content|raw }}
                {% else %}
                    {{ partial('contacts-service')|raw }}
                {% endif %}
                <div class="clear"></div>
            </div>
            <div class="b-services-contacts-top"></div>
            <div class="b-services-contacts-middle"></div>
            <div class="b-services-contacts-bottom"></div>
        </div>
        <!-- b-services-contacts -->


        <div class="b-services-boxes">
            <img alt="" src="{{ asset('public/img/services-boxes.png') }}">
        </div>


        <!-- b-mini-slider -->
        <div class="clear"></div>
    </div> <!-- b-services -->

    {{ include('TransPartialBundle::slogans.html.twig') }}

{% endblock %}