{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-rails">
    <div class="b-online">
    <div class="b-online-inner">
    <div class="b-online__form">
    <h2>Забронировать ж/д билет</h2>

    <form>
    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Ф.И.О:
            </div>
            <!-- b-label -->
            <div class="b-input">
                <input type="text" class="b-input__text b-fullname__input" value="" placeholder="Ф.И.О">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
        <div class="clear"></div>
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Ваш телефон:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-tel__input" value="" placeholder="Введите Ваш телефон">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Ваша электронная почта:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-email__input" value="" placeholder="Адрес эллектронной почты">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Дата выезда:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short b-input-short-datepicker">
                <input type="text" class="b-input__text b-date-leave__input" value="" placeholder="Дата заезда">
                <a href="#" class="b-datepicker-icon"></a>
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Предполагаемая дата возвращения:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short b-input-short-datepicker">
                <input type="text" class="b-input__text b-date-arrive__input" value="" placeholder="Дата выезда">
                <a href="#" class="b-datepicker-icon"></a>
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Пункт отправления:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-leave-from__input" value="Гватемала" placeholder="">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Пункт назначения:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-destination__input" value="Зизибурундя" placeholder="">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-item b-item-checkbox">
        <div class="b-checkbox-list">
            <h3 class="b-checkbox-list__title">Тип вагона:</h3>
            <ul>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Не важно
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        СВ
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Купе
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Люкс
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Плацкарт
                    </label>
                </li>
            </ul>
        </div>
        <!-- wagon-type -->


        <div class="b-checkbox-list">
            <h3 class="b-checkbox-list__title">Категоря пассажиров:</h3>
            <ul>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Ребёнок 0-2 года
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Ребёнок 2-12 лет
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Молодёжь 12-26 лет
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Взрослый
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Пенсионер
                    </label>
                </li>
            </ul>
        </div>
        <!-- b-passenger-cat -->


        <div class="b-checkbox-list">
            <h3 class="b-checkbox-list__title">Билет:</h3>
            <ul>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Ищу самый дешёвый вариант
                    </label>
                </li>
                <li class="b-checkbox-list__item">
                    <input type="checkbox" class="checkbox" value="">
                    <label>
                        Билет туда и обратно
                    </label>
                </li>
            </ul>
        </div>
        <!-- b-ticket-type -->
    </div>
    <!-- b-item -->

    <div class="clear"></div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Оплата производится:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                <select class="b-input__select b-pay-way__input" name="">
                    <option value="" checked>Безналичный расчет</option>
                    <option value="">Кредитная карточка</option>
                </select>
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Тип документа:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                <select class="b-input__select b-pay-way__input" name="">
                    <option value="" checked>Выбрать</option>
                    <option value="">Выбрать 2</option>
                </select>
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                № документа:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-doc-num__input" value="" placeholder="№ вашего документа">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Кем и когда выдан документ:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-doc-given__input" value=""
                       placeholder="Кем и когда выдан документ">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                Название Вашей компании:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-comp-name__input" value=""
                       placeholder="Наименование вашей компании">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                Удобное время для звонка:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                <input type="text" class="b-input__text b-call-time__input" value=""
                       placeholder="Укажите время для звонка">
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>

    <div class="clear"></div>

    <div class="b-item b-item-submit text-center">
        <input type="submit" class="b-button" value="Бранировать ж/д билет">
    </div>
    <!-- item -->
    </form>
    </div>
    <!-- form -->
    </div>
    <!-- online-inner -->
    </div>
    <!-- online -->


    <div class="b-rails-left-col">
        <h2 class="b-rails-left-col__title">
            {{ page.announcement }}
        </h2>

        <p>
            {{ page.content|raw }}
        </p>
    </div>

    <div class="clear"></div>
    </div>
{% endblock %}
