{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-hotel b-book">
        <div class="b-hotels">
            <h2>
                {{ page.announcement }}
            </h2>

            <p>
                {{ page.content|raw }}
            </p>
        </div>

        <div class="b-online">
            <div class="b-online-inner">
                <div class="b-online__form">
                    <h2>{{ 'buy_airticket'|trans }}</h2>

                    <form>
                        <div>
                            <div class="b-item">
                                <div class="b-multi-input">
                                    <input type="text" class="b-multi-input__text" value="" placeholder="Откуда">
                                    <input type="text" class="b-multi-input__date" value="" placeholder="99 / 99 / 9999">
                                    <a href="#" class="b-datepicker-icon"></a>
                                </div> <!-- input -->

                                <div class="b-exmpl">
                                    например: <span class="red underline underline-red">Алматы</span>
                                </div> <!-- label -->
                            </div> <!-- item -->

                            <div class="b-plane-buttons">
                                <ul>
                                    <li class="b-plane-buttons__item">
                                        <a href="#" class="b-one-way"></a>
                                    </li>
                                    <li class="b-plane-buttons__item b-plane-buttons__item-active">
                                        <a href="#" class="b-two-way"></a>
                                    </li>
                                    <li class="b-plane-buttons__item">
                                        <a href="#" class="b-hz-way"></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="b-item last">
                                <div class="b-multi-input">
                                    <input type="text" class="b-multi-input__text" value="" placeholder="Куда">
                                    <input type="text" class="b-multi-input__date" value="" placeholder="99 / 99 / 9999">
                                    <a href="#" class="b-datepicker-icon"></a>
                                </div> <!-- input -->

                                <div class="b-exmpl">
                                    например: <span class="red underline underline-red">Москва</span>
                                </div> <!-- label -->
                            </div> <!-- item -->

                            <div class="clear"></div>
                        </div> <!-- row -->


                        <div class="b-passanger-number">
                            <div class="pull-left">
                                <input type="text" class="b-passanger-number__input b-passanger-number__adult" value="0" placeholder="">
                            </div> <!-- item -->


                            <div class="pull-left">
                                <input type="text" class="b-passanger-number__input b-passanger-number__child" value="0" placeholder="">
                            </div> <!-- item -->


                            <div class="pull-left">
                                <input type="text" class="b-passanger-number__input b-passanger-number__infant" value="0" placeholder="">
                            </div> <!-- item -->


                            <div class="pull-left b-switcher-block">
                                <label class="b-switcher-label" for="ticket-class">Бизнес</label>
                                <div class="switcher">
                                    <input type="checkbox" id="ticket-class" class="js-switch" value="0" checked="checked">
                                </div> <!-- input -->
                                <label class="b-switcher-label last" for="ticket-class">Эконом</label>
                                <div class="clear"></div>
                            </div> <!-- item -->


                            <div class="b-item pull-right">
                                <input type="submit" class="b-button" value="Найти билеты">
                            </div> <!-- item -->

                            <div class="clear"></div>

                        </div> <!-- row -->
                        <div class="clear"></div>
                    </form>
                </div>
                <!-- form -->
            </div>
            <!-- online-inner -->
        </div>
        <!-- online -->

        <div class="b-banners">
            <h2>
                {{ 'partners.offers'|trans }}:
            </h2>

            <a class="b-banners__item" href="#">
                <img alt="" src="{{ asset('public/img/banner-1.png') }}"/>
            </a>

            <a class="b-banners__item" href="#">
                <img alt="" src="{{ asset('public/img/banner-3.png') }}"/>
            </a>

            <a class="b-banners__item" href="#">
                <img alt="" src="{{ asset('public/img/banner-2.png') }}"/>
            </a>

            <a class="b-banners__item" href="#">
                <img alt="" src="{{ asset('public/img/banner-4.png') }}"/>
            </a>
        </div> <!-- b-banners -->

    <div class="clear"></div>
    </div>
{% endblock %}
