{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-hotel b-book">
        <div class="b-hotels">
            <h2>
                {{ page.announcement }}
            </h2>
            {{ page.content|raw }}
        </div>
        <div class="b-services-right-block">
            <div class="b-services-contacts">

                <div class="b-contacts-content">
                    {% if page.partial %}
                        {{ page.partial.content|raw }}
                    {% else %}
                        {{ partial('contacts-service')|raw }}
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="b-services-contacts-top"></div>
                <div class="b-services-contacts-middle"></div>
                <div class="b-services-contacts-bottom"></div>
            </div>
            <div class="clear"></div>
            {% if page.media %}
            <div class="b-services-boxes">
                {% thumbnail page.media, 'big' %}
            </div>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    {{ include('TransPartialBundle::slogans.html.twig') }}
{% endblock %}