{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-hotel b-book b-services-all">
        <div class="b-hotels">
            <h2>
                {{ page.announcement }}
            </h2>
            {{ page.content|raw }}
        </div>

        <div class="b-services-planes">
            <img alt="" src="{{ asset('public/img/services-planes.png') }}">
        </div>

        {{ render(controller('TransPageBundle:Slides:slides')) }}

        <div class="b-online-avia">
            <a class="b-button" href="#">
                {{ 'Find tickets' |trans }}
            </a>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}