<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">

    <meta name="verify-v1" content="LdITMVhyfvxm/5wlS/G1MARG1lQU1AzRj4KOY7u/I0g=" />
    <!--<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>-->
    <title>{% block title %}
            Transavia - Авиабилеты в Казахстане, туризм и авиабилеты, тревел услуги, визовые услуги
        {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/font.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.formstyler.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/custom.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/switchery.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery-ui-1.10.4.custom.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/colorbox.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27920256-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<div class="wrapper">
{# header start#}
<div class="row">
    <div class="b-header">
        <h1 class="b-header__logo">
            <a href="{{ path('trans_main_homepage') }}">
                <img alt="Transavia" src="{{ asset('public/img/logo.png') }}"/>
            </a>
        </h1>

        <div class="b-header__right">
            <div class="b-social-lang">

                <div class="b-social">
                    <ul>
                        <li class="b-social__item"><a class="facebook" href="https://www.facebook.com/Transavia.travel"></a></li>
                        <li class="b-social__item"><a class="twitter" href="https://twitter.com/transavia_kz"></a></li>
                        <li class="b-social__item"><a class="vk" href="http://vk.com/public72355943"></a></li>
                    </ul>

                    <div class="clear"></div>
                </div>
                <!-- social -->

                <div class="b-lang">
                    <ul>
                        {% if app.request.locale != 'kz' %}
                        <li class="b-lang__item"><a class="kaz"
                                                    href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'kz'})) }}">қазақша</a>
                        </li>
                        {% endif %}
                        {% if app.request.locale != 'en' %}
                        <li class="b-lang__item"><a class="eng"
                                                    href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'en'})) }}">english</a>
                        </li>
                        {% endif %}
                        {% if app.request.locale != 'ru' %}
                        <li class="b-lang__item"><a class="ru"
                                                    href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale':'ru'})) }}">русский</a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="clear"></div>
                </div>
                <!-- lang -->

                <div class="clear"></div>
            </div>
            <!-- social-lang -->
            <div class="clear"></div>

            <div class="b-main-menu">
                <ul class="b-main-menu__col">
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_main_homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li class="b-main-menu__item drop-down">
                        <a href="{{ path('trans_page_services') }}">{{ 'services'|trans }} <i
                                    class="icon-arrow-down"></i></a>

                        <div class="pos-helper">
                            <div class="submenu">
                                {{ render(controller('TransPageBundle:Menu:serviceMenu')) }}
                            </div>
                            <!-- submenu -->
                        </div>
                        <!-- pos-helper -->
                    </li>
                </ul>
                <ul class="b-main-menu__col">
                    <li class="b-main-menu__item drop-down">
                        <a href="#">{{ 'Online booking'|trans }}<i class="icon-arrow-down"></i></a>

                        <div class="pos-helper">
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="{{ path('trans_page_service_sub_page', {'slug':'service-avia-page'}) }}">{{ 'Airline tickets'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('order_tour_new') }}">{{ 'tour'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('trans_hotel_homepage') }}">{{ 'hotels'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('order_train_new') }}">{{ 'jd'|trans }}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- submenu -->
                        </div>
                        <!-- pos-helper -->
                    </li>
                    <li class="b-main-menu__item drop-down">
                        <a href="{{ path('trans_page_about') }}">{{ 'About company'|trans }} <i
                                    class="icon-arrow-down"></i></a>

                        <div class="pos-helper">
                            <div class="submenu">
                                {{ render(controller('TransPageBundle:Menu:aboutMenu')) }}
                            </div>
                            <!-- submenu -->
                        </div>
                        <!-- pos-helper -->
                    </li>
                </ul>
                <ul class="b-main-menu__col">
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_news_list') }}">{{ 'Company news'|trans }}</a>
                    </li>
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_page_useful_info') }}">{{ 'Useful information'|trans }}</a>
                    </li>
                </ul>
                <ul class="b-main-menu__col">
                    <li class="b-main-menu__item"><a href="{{ path('trans_main_epay') }}">{{ 'Pay online'|trans }}</a></li>
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_partner_schedule') }}">{{ 'Flight schedule'|trans }}</a>
                    </li>
                </ul>
                <ul class=" b-main-menu__col last">
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_partner_homepage') }}">{{ ('Partners'|trans)|lower }}</a>
                    </li>
                    <li class="b-main-menu__item"><a
                                href="{{ path('trans_service_contacts') }}">{{ ('Contacts'|trans)|lower }}</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- main-menu -->

            <div class="b-header-tel">
                <div class="b-header-tel__inner">
                    <div class="b-header-tel__title">
                        <span>{{ ('call center'|trans)|lower }}:</span>
                    </div>

                    <div class="b-header-tel__number">
                        <span class="b-header-tel__code">+ 7 (727)</span>
                        <span>315 04 14</span>
                    </div>
                </div>
                <!-- tel-inner -->
            </div>
            <!-- tel -->

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    {% block breadcrumbs %}
        {{ render(controller('TransPageBundle:Menu:breadcrumb', { route: app.request.get('_route'), params: app.request.get('_route_params') })) }}
    {% endblock %}
</div>
<!-- header -->
{% block body %}

{% endblock %}
{# footer start#}
<div class="row">
    <div class="b-footer">
        <div class="b-footer__contacts">
            <h2>{{ 'Contacts'|trans }}</h2>
            {{ partial('contacts')|raw }}
            <ul class="b-footer__social last">
                <li class="b-footer__social__item facebook">
                    <a href="https://www.facebook.com/Transavia.travel">www.facebook.com/Transavia.travel</a>
                </li>
                <li class="b-footer__social__item twitter">
                    <a href="https://twitter.com/transavia_kz">twitter.com/transavia_kz</a>`
                </li>
                <li class="b-footer__social__item vk">
                    <a href="http://vk.com/public72355943">vk.com/public72355943</a>
                </li>
                <li class="b-footer__social__item mailru">
                    <a href="http://my.mail.ru/mail/transavia.online/">my.mail.ru/mail/transavia.online/</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- contacts -->


        {% include "::partners.html.twig" %}
        <!-- partners -->

        <div class="clear"></div>

        <div class="b-footer-bottom">
            <div class="b-copyright">
                &copy; Transavia 1999 - 2014
            </div>

            <div class="b-footer_w50-right">
                <div class="b-accredited">
                    Официально аккредитирован:
                    <!--<a href="#">-->
                    <!--<img alt="" src="img/iata.png">-->
                    <!--</a>-->
                </div>
                <!-- accredited -->
                <div class="b-live-internet">
                    <img alt="" src="{{ asset('public/img/live-internet.png') }}">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- footer-bottom -->
        <div class="clear"></div>
    </div>
</div>
<!-- footer -->

<div class="clear"></div>
</div>
{% block javascripts %}
    <script>
        var _locale = '{{ app.request.get('_locale') }}';
    </script>
    <script src="{{ asset('public/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('public/js/jquery.formstyler.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/switchery.js') }}"></script>

    <script src="{{ asset('public/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('public/js/jquery.easy-ticker.min.js') }}"></script>
    <script src="{{ asset('public/js/form-helpers.js') }}"></script>
    <script src="{{ asset('public/js/jquery.colorbox-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/script.js') }}"></script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = '106871';
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
    <!--LiveInternet counter-->
    <script type="text/javascript">
    $(function(){
    $(".b-live-internet").html("<a href='http://www.liveinternet.ru/click' "+

            "target=_blank><img src='http://counter.yadro.ru/hit?t52.6;r"+

            escape(document.referrer)+((typeof(screen)=="undefined")?"":

            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?

                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+

            ";"+Math.random()+

            "' alt='' title='LiveInternet: показано число просмотров и"+

            " посетителей за 24 часа' "+

            "border=0 width=88 height=31><\/a>");

    });
    </script><!--/LiveInternet-->

{% endblock %}
</body>
</html>