<div class="b-tours-grey">
    <div class="b-tours-grey__bg">
        <ul>
            <li class="b-tours-grey__item b-tours-grey__security">
                {{ partial('slogan-security')|raw }}
            </li>
            <li class="b-tours-grey__item b-tours-grey__time">
                {{ partial('slogan-time')|raw }}
            </li>
            <li class="b-tours-grey__item b-tours-grey__quality">
                {{ partial('slogan-quality')|raw }}
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div> <!-- tour-bottom -->