<div class="b-representation">

    <div class="b-representation__map">
        <h2>{{ 'our representatives'|trans }}</h2>
        <img alt="" id="map_changed" src="{{ asset('public/img/map'~app.request.get('_locale')~'.png') }}">

        <div class="map-address">
            <div id="map-address-almaty" data-city="Алматы">
                {{ 'map.address.almaty'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-aktobe" data-city="Актобе">
                {{ 'map.address.aktobe'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-aktau" data-city="Актау">
                {{ 'map.address.aktau'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-atyrau" data-city="Атырау">
                {{ 'map.address.atyrau'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-karaganda" data-city="Караганда">
                {{ 'map.address.karaganda'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-kostanay" data-city="Костанай">
                {{ 'map.address.kostanay'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-ust-kamengorsk" data-city="Усть-Каменогорск">
                {{ 'map.address.ust-kamengorsk'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-uralsk" data-city="Уральск">
                {{ 'map.address.uralsk'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-aksay" data-city="Аксай">
                {{ 'map.address.aksay'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-temirtau" data-city="Темиртау">
                {{ 'map.address.temirtau'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-taldy-korgan" data-city="Талды-Корган">
                {{ 'map.address.taldy-korgan'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-kokshetau" data-city="Кокшетау">
                {{ 'map.address.kokshetau'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-astana" data-city="Астана">
                {{ 'map.address.astana'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-shymkent" data-city="Шымкент">
                {{ 'map.address.shymkent'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-semey" data-city="Семей">
                {{ 'map.address.semey'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-kyzyl-orda" data-city="Кызыл-Орда">
                {{ 'map.address.kyzyl-orda'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-pavlodar" data-city="Павлодар">
                {{ 'map.address.pavlodar'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-petropavlovsk" data-city="Петропавловск">
                {{ 'map.address.petropavlovsk'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-zhezkazgan" data-city="Жезказган">
                {{ 'map.address.zhezkazgan'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-minsk" data-city="Минск">
                {{ 'map.address.minsk'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-kiev" data-city="Киев">
                {{ 'map.address.kiev'|trans({},'MapsData')|raw }}
            </div>
            <div id="map-address-bishkek" data-city="Бишкек">
                {{ 'map.address.bishkek'|trans({},'MapsData')|raw }}
            </div>
        </div>
    </div>
    <!-- map -->

    <div class="b-region-list">
        <div class="b-item">
            <div class="b-smaller-switcher b-switcher-block">
                <label class="b-switcher-label" for="country-class">{{ 'Kazakhstan'|trans }}</label>

                <div class="switcher">
                    <input type="checkbox" id="country-class" class="js-switch" value="0">
                </div>
                <!-- input -->
                <label class="b-switcher-label last" for="country-class">{{ 'cip'|trans }}</label>

                <div class="clear"></div>
            </div>
        </div>
        <!-- item -->
        <div class="clear"></div>


        <ul class="pull-left">
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Алматы.png') }}" class="kaz" data-city="Алматы">{{ 'map.city.almaty' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Актобе.png') }}" class="kaz" data-city="Актобе">{{ 'map.city.aktobe' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Актау.png') }}" class="kaz" data-city="Актау">{{ 'map.city.aktau' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Аксай.png') }}" class="kaz" data-city="Аксай">{{ 'map.city.aksay' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Атырау.png') }}" class="kaz" data-city="Атырау">{{ 'map.city.atyrau' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Астана.png') }}" class="kaz" data-city="Астана">{{ 'map.city.astana' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Караганда.png') }}" class="kaz" data-city="Караганда">{{ 'map.city.karaganda' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Костанай.png') }}" class="kaz" data-city="Костанай">{{ 'map.city.kostanay' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Уральск.png') }}" class="kaz" data-city="Уральск">{{ 'map.city.uralsk' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Петропавловск.png') }}" class="kaz" data-city="Петропавловск">{{ 'map.city.petropavlovsk' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Темиртау.png') }}" class="kaz" data-city="Темиртау">{{ 'map.city.temirtau' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Усть-Каменогорск.png') }}" class="kaz" data-city="Усть-Каменогорск">{{ 'map.city.ust-kamengorsk' | trans({}, 'MapsData') }}</a></li>
        </ul>
        <ul class="pull-right">
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Талды-Корган.png') }}" class="kaz" data-city="Талды-Корган">{{ 'map.city.taldy-korgan' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Кокшетау.png') }}" class="kaz" data-city="Кокшетау">{{ 'map.city.kokshetau' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Шымкент.png') }}" class="kaz" data-city="Шымкент">{{ 'map.city.shymkent' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Семей.png') }}" class="kaz" data-city="Семей">{{ 'map.city.semey' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Павлодар.png') }}" class="kaz" data-city="Павлодар">{{ 'map.city.pavlodar' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Кызыл-Орда.png') }}" class="kaz" data-city="Кызыл-Орда">{{ 'map.city.kyzyl-orda' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Жезказган.png') }}" class="kaz" data-city="Жезказган">{{ 'map.city.zhezkazgan' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Киев.png') }}" class="sng region-muted" data-city="Киев">{{ 'map.city.kiev' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Минск.png') }}" class="sng region-muted" data-city="Минск">{{ 'map.city.minsk' | trans({}, 'MapsData') }}</a></li>
            <li class="b-region-list__item"><a href="{{ asset('public/img/map/'~app.request.get('_locale')~'/Бишкек.png') }}" class="sng region-muted" data-city="Бишкек">{{ 'map.city.bishkek' | trans({}, 'MapsData') }}</a></li>
        </ul>
    </div>
    <!-- region-list -->
</div>