




<div class="row">
    <div class="b-online-inner">
        <div class="b-tab-menu">
            <ul>
                <li class="b-tab-menu__item b-tab-menu__item-selected">
                    <a class="b-icon-avia-gray" href="#" onclick="showOnlineForm('online-form-flight',this); return false;">
                        <span class="underline underline-red">{{ 'Airline tickets'|trans }}</span>
                    </a>
                </li>
                <li class="b-tab-menu__item">
                    <a class="b-icon-train-red" href="{{ path('order_train_new') }}" onclick="showOnlineForm('online-form-train',this); return false;">
                        <span class="underline underline-red">{{ 'Railways tickets'|trans }}</span>
                    </a>
                </li>
                <li class="b-tab-menu__item">
                    <a class="b-icon-hotel-red" href="{{ path('trans_hotel_homepage') }}" onclick="showOnlineForm('online-form-hotel',this); return false;">
                        <span class="underline underline-red">{{ 'Hotels'|trans }}</span>
                    </a>
                </li>
                <li class="b-tab-menu__item">
                    <a class="b-icon-man-red" href="{{ path('trans_hotel_homepage') }}" onclick="showOnlineForm('online-form-register',this); return false;">
                        <span class="underline underline-red">{{ 'Registration'|trans }}</span>
                    </a>
                </li>
                {#<li class="b-tab-menu__item">#}
                    {#<a class="b-icon-car" href="#" >#}
                        {#<span class="underline underline-red">{{ 'Rent a car'|trans }}</span>#}
                    {#</a>#}
                {#</li>#}
            </ul>

            <div class="clear"></div>
        </div>
        <!-- menu -->
        </div>
    </div>
        <div class="row b-online">
            <div class="b-online-inner" id="forms">
			
			
            <div class="b-online__form" id="online-form-flight">
			<div class="flinn">
			
			<div class="flinin">
			
            <h2>{{ 'buy_airtickets'|trans }}</h2>
			
		<form action="http://transavia.aviata.me/avia/search/" method="post" name="avia">
                <div id="cts">
                    <div class="b-item">
                        <div class="b-multi-input">
                            <input type="text" class="b-multi-input__text" value="{{ 'form.from'|trans }}" onfocus="ifocus('{{ 'form.from'|trans }}', 'city_code_fr')" onblur="iblur('{{ 'form.from'|trans }}', 'city_code_fr')" name="city_code_fr" id="city_code_fr" />
                            <input type="text" class="b-multi-input__date" value="{{ 'form.from_date'|trans }}" name="from_date" id="from_date" onfocus="ifocus('{{ 'form.from_date'|trans }}', 'from_date')" onblur="iblur('{{ 'form.from_date'|trans }}', 'from_date')" />
							<input name="city_code_from" type="hidden" id="city_code_from" value="" />
                        </div>
                        <!-- input -->

                        <div class="b-exmpl">
                            {{ 'form.example'|trans }}: <span class="red underline underline-red" onclick="setFrom()">{{ 'almaty'|trans }}</span>
                        </div>
                        <!-- label -->
                    </div>
                    <!-- item -->

                    <div class="b-plane-buttons">
                        <span onclick="changeSrType('oneway')" class="oneway" id="s1"></span>
						<span onclick="changeSrType('roundtrip')" class="roundtrip selected" id="s1"></span>
						<span onclick="changeSrType('multicity')" class="multicity" id="s1"></span>
						<input name="search_type" type="hidden" id="search_type" value="roundtrip"/>
                    </div>

                    <div class="b-item last">
                        <div class="b-multi-input">
                            <input type="text" class="b-multi-input__text" value="{{ 'form.to'|trans }}" onfocus="ifocus('{{ 'form.to'|trans }}', 'city_code_t')" onblur="iblur('{{ 'form.to'|trans }}', 'city_code_t')"  name="city_code_t"  id="city_code_t"/>
                            <input type="text" class="b-multi-input__date" value="{{ 'form.to_date'|trans }}" name="to_date" id="to_date" onfocus="ifocus('{{ 'form.to_date'|trans }}', 'to_date')" onblur="iblur('{{ 'form.to_date'|trans }}', 'to_date')" />
							<input name="city_code_to" type="hidden" id="city_code_to" value=""/>
                        </div>
                        <!-- input -->

                        <div class="b-exmpl">
                            {{ 'form.example'|trans }}: <span class="red underline underline-red" onclick="setTo()">{{ 'moscow'|trans }}</span>
                        </div>
                        <!-- label -->
                    </div>
                    <!-- item -->
		
                    <div class="clear"></div>
						
					<div id="cont">
						
					</div>
					
                </div>
                <!-- row -->

				<div id="addcitydiv"><a href="javascript:addreis()" class="addr"> + {{ 'form.add_city'|trans }}</a></div>
                <div class="b-passanger-number">
                    <div class="pull-left">
                        <input type="number"  min="0" class="b-passanger-number__input b-passanger-number__adult" value="0" placeholder="" name="adults">
                    </div>
                    <!-- item -->


                    <div class="pull-left">
                        <input type="number"  min="0" class="b-passanger-number__input b-passanger-number__child" value="0" placeholder="" name="children" />
                    </div>
                    <!-- item -->


                    <div class="pull-left">
                        <input type="number" min="0" class="b-passanger-number__input b-passanger-number__infant" value="0" placeholder="" name="infants" >
                    </div>
                    <!-- item -->


                    <div class="pull-left b-switcher-block">
                        <label class="b-switcher-label" for="ticket-class">{{ 'form.business'|trans }}</label>

                        <div class="switcher">
                            <input type="checkbox" id="ticket-class" class="js-switch" value="0" checked="checked" onchange="ch()">
							<input name="cabin_class" type="hidden" id="cabin_class" value="Economy"/>
                        </div>
                        <!-- input -->
                        <label class="b-switcher-label last" for="ticket-class">{{ 'form.economy'|trans }}</label>

                        <div class="clear"></div>
                    </div>
                    <!-- item -->


                    <div class="b-item pull-right">
                        <input type="submit" class="b-button" value="{{ 'form.Find tickets'|trans }}">
                    </div>
                    <!-- item -->

                    <div class="clear"></div>

                </div>
                <!-- row -->
                <div class="clear"></div>
            </form>
			
			</div>
			</div>
            </div>
			
			
			
			
			
			

            <div class="b-rails b-rails_form-on-main" id="online-form-train">
                <div class="b-online__form">
            {% include '@TransTicket/OrderTrain/form.html.twig' with {'form':formTrain} %}
                </div>
            </div>

            <div class="b-hotel b-hotel_form-on-main" id="online-form-hotel">
                <div class="b-online__form">
            {% include '@TransTicket/OrderHotel/form.html.twig' with {'form':formHotel} %}
                </div>
            </div>

            <div class="b-hotel b-partners_register-on-main" id="online-form-register">
                    <div class="b-online__form">
                        {% include '@TransMain/Partner/register.html.twig' %}
                    </div> <!-- form -->
                    <div class="b-online__form__footer"></div>
                </div>


        </div>
        <!-- form -->

    </div>
    <!-- online-inner -->
{#</div> <!-- online -->#}
<div class="clear"></div>


