{% extends '::base.html.twig' %}
{% block body %}
    <div class="b-main-slider">
        <div class="b-main-slider__inner">
            <div id="top-slider" class="js-image-slider">
                <ul class="b-slides">
                    {% for slide in slides %}
                        <li class="b-main-slider__item">
                            <div class="b-slider-text">
                                {{ slide.title }}
                            </div>
                            <div class="b-slider-image">
                                {% thumbnail slide.media, 'reference' %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    {{ include('@TransMain/Home/_online.html.twig') }}

    <div class="row b-tours">
        <div class="b-tours-banners">
            <ul>
                <li class="b-tours-banners__item">
                    {% render controller('TransTicketBundle:Banner:getBanner', {'bannerPosition':'main-big-left'}) %}
                </li>
                <li class="b-tours-banners__item">
                    {% render controller('TransTicketBundle:Banner:getBanner', {'bannerPosition':'main-big-right'}) %}
                </li>
            </ul>

            <div class="clear"></div>
        </div>
        <!-- tour-banners -->
    </div> <!-- tours -->

    {{ include('@TransPartial/slogans.html.twig') }}

    <div class="row">
        <div class="b-about-news">
            <div class="b-banner-arrows">
            </div>
            <!-- banner-arrows -->

            <div class="b-about-main b-about-main-col">
                <h2>{{ 'About company'|trans }}</h2>
                {{ partial('about-company')|raw }}

                <div class="b-address-all">
                    <a href="{{ path('trans_service_contacts') }}" class="red text-decoration-none">
                    <i class="b-icon-marker__map"></i>
                    <span class="red underline underline-red">{{ 'contacts.telephonesAndAddresses'|trans }}</span>
                    </a>
                </div>
            </div>
            <!-- about -->

            {{ render(controller('TransNewsBundle:News:latest')) }}
            <!-- latest news-->

            <div class="b-banner">
                {% render controller('TransTicketBundle:Banner:getBanner', {'bannerPosition':'main-mini'}) %}
            </div>
            <!-- banner -->
            <div class="clear"></div>
        </div>
    </div> <!-- about-news -->


    <div class="b-services">
        <div class="b-services-top"></div>
        <!-- services-top -->

        <div class="row">
            <div class="b-services-inner">
                <div class="b-service-list">
                    <h2>{{ 'Services'|trans }}</h2>

                    <ul>
                        <li class="b-service-list__item">
                            <div class="b-service-list__icon b-service-list__icon-plane">
                                <a href="{{ path('trans_page_service_sub_page', {'slug':'service-avia-page'}) }}" class="b-service-list__icon-sub"></a>
                            </div>
                            <span class="vertical-helper"></span>
                            <a href="{{ path('trans_page_service_sub_page', {'slug':'service-avia-page'}) }}">{{ 'Airline tickets'|trans }}</a>
                        </li>
                        <li class="b-service-list__item">
                            <div class="b-service-list__icon b-service-list__icon-train">
                                <a href="{{ path('order_train_new') }}" class="b-service-list__icon-sub"></a>
                            </div>
                            <a href="{{ path('order_train_new') }}">{{ 'jd-pay'|trans }}</a>
                        </li>
                        <li class="b-service-list__item last">
                            <div class="b-service-list__icon b-service-list__icon-hotel">
                                <a href="{{ path('trans_hotel_homepage') }}" class="b-service-list__icon-sub"></a>
                            </div>
                            <span class="vertical-helper"></span>
                            <a href="{{ path('trans_hotel_homepage') }}">{{ 'Hotels'|trans }}</a>
                        </li>
                        <li class="b-service-list__item">
                            <div class="b-service-list__icon b-service-list__icon-auto">
                                <a href="#" class="b-service-list__icon-sub"></a>
                            </div>
                            <span class="vertical-helper"></span>
                            <a href="#">{{ 'Rent a car'|trans }}</a>
                        </li>
                        <li class="b-service-list__item">
                            <div class="b-service-list__icon b-service-list__icon-trailer">
                                <a href="{{ path('trans_page_service_sub_page', {'slug':'service-cargo-page'}) }}" class="b-service-list__icon-sub"></a>
                            </div>
                            <span class="vertical-helper"></span>
                            <a href="{{ path('trans_page_service_sub_page', {'slug':'service-cargo-page'}) }}">{{ 'Cargo'|trans }}</a>
                        </li>
                        <li class="b-service-list__item last">
                            <div class="b-service-list__icon b-service-list__icon-tours">
                                <a href="{{ path('order_tour_new') }}" class="b-service-list__icon-sub"></a>
                            </div>
                            <span class="vertical-helper"></span>
                            <a href="{{ path('order_tour_new') }}">{{ 'Tours'|trans }}</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- service-list -->


                <div class="mice-service">
                    <h2>
                        <span>Mice {{ 'Services'|trans }}</span>
                    </h2>

                    <div class="mice-text" onclick="window.location = '{{ path('trans_page_service_sub_page', {'slug':'slide-mice'}) }}'">
                        <div class="b-service-list__icon b-service-list__icon-bag">
                            <a href="{{ path('trans_page_service_sub_page', {'slug':'slide-mice'}) }}" class="b-service-list__icon-sub"></a>
                        </div>
                        <p>
                            {{ 'mice-text'|trans }}
                        </p>
                    </div>
                    <!-- mice-text -->
                </div>
                <!-- mice-service -->

                <div class="clear"></div>
            </div>
            <!-- services-inner -->
        </div>

        <div class="b-services-bottom"></div>
        <!-- services-bottom -->
    </div> <!-- services -->


    <div class="row">
        <div class="b-awards-representation">
            <div class="b-awards-main">
                <h2>{{ 'awards'|trans }}</h2>

                <div class="b-awards-main__text">
                    <p>
                        Мы имеем множество наград в области: туристического бизнеса, авиа перевозок, грузоперевозок,
                        описание всех услуг и небольшое описание наград которые получила компания за все годы
                        существования имеем множество наград в области: туристического бизнеса, авиа перевозок,
                        грузоперевозок, описание всех услуг
                    </p>
                </div>
                <!-- awards-text -->

                <div id="awards-slider" class="b-awards-main__list js-image-slider without-markers">
                    {{ render(controller("TransMainBundle:Awards:randomFiveAwards")) }}
                </div>
                <!-- awards-list -->

                <div class="clear"></div>
            </div>
            <!-- awards -->


            {% include '@TransMain/Home/_map.html.twig' %}
            <!-- representation -->

            <div class="clear"></div>
        </div>
    </div> <!-- awards-representation -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/bjqs-1.3.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#top-slider').bjqs({
                // width and height need to be provided to enforce consistency
                // if responsive is set to true, these values act as maximum dimensions
                width: 890,
                height: 353,

                // control and marker configuration
                showcontrols: false, // show next and prev controls
                centermarkers: false // Center markers horizontally
            });
            $('#awards-slider').bjqs({
                // width and height need to be provided to enforce consistency
                // if responsive is set to true, these values act as maximum dimensions
                width       : 170,
                height      : 203,
                showcontrols: true,
                nexttext    : '<a class="b-awards-main__list__arrow b-awards-main__list__arrow-prev" data-direction="previous" href="javascript:void(0);"></a>',
                prevtext    : '<a class="b-awards-main__list__arrow b-awards-main__list__arrow-next" data-direction="forward"href="javascript:void(0);"></a>',
                responsive  : true,
                showmarkers : false
            });
        });
    </script>

{% endblock %}
