{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-timetable">
        <h2>
            {{ 'Flight schedule'|trans }}
        </h2>
        <iframe frameborder="0"
                style="overflow: hidden; border: 0; width: 100%; height: 302px;"
                src="http://rasp.yandex.ru/informers/station/{{ station }}/?type=tablo">
        </iframe>
    </div>

    {{ include('@TransMain/Home/_online.html.twig') }}
    {{ include('@TransPartial/slogans.html.twig') }}

{% endblock %}