<h2>{{ 't.book.train'|trans }}</h2>
{{ form_start(form) }}

{% for flashMessage in app.session.flashBag.get('notice') %}
    <h3>{{ flashMessage |trans }}</h3>
{% endfor %}
{{ form_errors(form) }}
<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.name) }}:
        </div>
        <!-- b-label -->
        <div class="b-input">
            {{ form_widget(form.name) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
    <div class="clear"></div>
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.telephone) }}
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.telephone) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.email) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.email) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.checkOut) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            {{ form_widget(form.checkOut) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.checkIn) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short b-input-short-datepicker">
            {{ form_widget(form.checkIn) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.departurePoint) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.departurePoint) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.destinationPoint) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.destinationPoint) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>


<div class="b-item b-item-checkbox">
    <div class="b-checkbox-list">
        <h3 class="b-checkbox-list__title">{{ 'Wagon type'|trans }}:</h3>
        <ul>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.wagonAny) }}
                {{ form_label(form.wagonAny) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.wagonCb) }}
                {{ form_label(form.wagonCb) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.wagonCoupe) }}
                {{ form_label(form.wagonCoupe) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.wagonLux) }}
                {{ form_label(form.wagonLux) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.wagonPlatzkart) }}
                {{ form_label(form.wagonPlatzkart) }}
            </li>
        </ul>
    </div>
    <!-- wagon-type -->


    <div class="b-checkbox-list">
        <h3 class="b-checkbox-list__title">{{ 'Passenger category'|trans }}:</h3>
        <ul>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.passInfant) }}
                {{ form_label(form.passInfant) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.passChildren) }}
                {{ form_label(form.passChildren) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.passYoung) }}
                {{ form_label(form.passYoung) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.passAdult) }}
                {{ form_label(form.passAdult) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.passRetired) }}
                {{ form_label(form.passRetired) }}
            </li>
        </ul>
    </div>
    <!-- b-passenger-cat -->


    <div class="b-checkbox-list">
        <h3 class="b-checkbox-list__title">{{ 'Ticket'|trans }}:</h3>
        <ul>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.cheapest) }}
                {{ form_label(form.cheapest) }}
            </li>
            <li class="b-checkbox-list__item">
                {{ form_widget(form.roundTrip) }}
                {{ form_label(form.roundTrip) }}
            </li>
        </ul>
    </div>
    <!-- b-ticket-type -->
</div>
<!-- b-item -->

<div class="clear"></div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.payment) }}:
        </div>
        <!-- b-label -->
        <div class="b-select b-select-292">
            {{ form_widget(form.payment) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.documentType) }}:
        </div>
        <!-- b-label -->
        <div class="b-select b-select-292">
            {{ form_widget(form.documentType) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.documentNumber) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.documentNumber) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.documentInfo) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.documentInfo) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>


<div class="b-row">
    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.company) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.company) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->


    <div class="b-item">
        <div class="b-label">
            {{ form_label(form.callTime) }}:
        </div>
        <!-- b-label -->
        <div class="b-input b-input-short">
            {{ form_widget(form.callTime) }}
        </div>
        <!-- b-input -->
    </div>
    <!-- item -->
</div>

<div class="clear"></div>

<div class="b-item b-item-submit text-center">
    {{ form_row(form.submit,{'label': 'p.train.submit'|trans}) }}
</div>
<!-- item -->

{{ form_end(form) }}