{% extends 'TransTicketBundle::message_layout.html.twig' %}
{% block body %}
    Ф.И.О: {{ train.name }}
    Оплата: {{ train.payment }}
    Пункт назначения: {{ train.destinationPoint|default("~") }}
    Предполагаемая дата выезда: {{ train.checkout|date("d-m-Y") }}
    Предполагаемая дата возвращения: {{ train.checkout|date("d-m-Y") }}
    Почтовый адрес: {{ train.email }}
    Телефон: {{ train.telephone }}
    Удобное время для звонка: {{ train.callTime }}
    Название компании: {{ train.company|default("~") }}

    * {% if train.cheapest %} Ищу самый дешевый вариант {% endif %}
    * {% if train.roundTrip %} Туда и обратно {% endif %}

    Документ:

    Тип документа: {{ train.documentType }}
    Номер документа: {{ train.documentNumber }}
    Орган выдавший документ: {{ train.documentInfo }}

    Тип вагона:

    {% if train.wagonAny %} - Не важно {% endif %}
    {% if train.wagonCb %} - Не важно {% endif %}
    {% if train.wagonCoupe %} - Не важно {% endif %}
    {% if train.wagonLux %} - Не важно {% endif %}
    {% if train.wagonPlatzkart %} - Не важно {% endif %}

    Категория пассажиров
    {% if train.passInfant %}  - Ребенок 0-2 года {% endif %}
    {% if train.passChildren %} - Ребенок 2-12 лет {% endif %}
    {% if train.passYoung %} - Молодежь 12-26 лет {% endif %}
    {% if train.passAdult %} - Взрослый {% endif %}
    {% if train.passRetired %} - Пенсионер {% endif %}


{% endblock %}