{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-rails">
    <div class="b-online">
    <div class="b-online-inner">
        <div class="b-online__form">
            {% include 'TransTicketBundle:OrderTrain:form.html.twig' %}
        </div>
        <!-- form -->
    </div>
    <!-- online-inner -->
    </div>
    <!-- online -->


    <div class="b-rails-left-col">
        <h2 class="b-rails-left-col__title">
            {{ 'jd-kassa'|trans }}
        </h2>

        {{ partial('jd-kassa')|raw }}
        <!-- b-rails-offices -->
    </div>
    <!-- b-rails-left-col -->

    <div class="clear"></div>
    </div> <!-- b-rails -->

{% endblock %}