{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <h2>{{ 'Online payment'|trans }}</h2>
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="b-row">
            <div class="b-item">
                <div class="b-label">
                    {{ form_label(form.reservationCode) }}:
                </div> <!-- b-label -->
                <div class="b-input b-input-short">
                    {{ form_widget(form.reservationCode) }}
                </div> <!-- b-input -->
            </div> <!-- item -->
            <div class="clear"></div>
        </div>
        <div class="b-row">
            <div class="b-item">
                <div class="b-label">
                    {{ form_label(form.email) }}:
                </div> <!-- b-label -->
                <div class="b-input b-input-short">
                    {{ form_widget(form.email) }}
                </div> <!-- b-input -->
            </div> <!-- item -->
            <div class="clear"></div>
        </div>
        <div class="b-row">
            <div class="b-item">
                <div class="b-label">
                    {{ form_label(form.telephone) }}:
                </div> <!-- b-label -->
                <div class="b-input b-input-short">
                    {{ form_widget(form.telephone) }}
                </div> <!-- b-input -->
            </div> <!-- item -->
            <div class="clear"></div>
        </div>
        <div class="b-row">
            <div class="b-item">
                <div class="b-label">
                    {{ form_label(form.airfare) }}:
                </div> <!-- b-label -->
                <div class="b-input b-input-short">
                    {{ form_widget(form.airfare) }}
                </div> <!-- b-input -->
            </div> <!-- item -->
            <div class="clear"></div>
        </div>
        <div class="b-item b-item-submit text-center">
            {{ form_row(form.submit) }}
        </div> <!-- item -->
        {{ form_end(form) }}
    </div>
    <div class="clear"></div>
{% endblock %}