<table border=1 cellpadding=6 cellspacing=0 width=550 bordercolor='#DBDBDB'>
    <tr>
        <td colspan=2 align=center bgcolor='#E4E4E4'><B>Онлайн оплата</b></td>
    </tr>
    <tr bgcolor='#F8F8F8'>
        <td width=117>{{ 'Reservation code'|trans }}:</td>
        <td width=433><b>{{ data.reservationCode }}</b></td>
    </tr>
    <tr bgcolor='#F8F8F8'>
        <td width=117>E-mail:</td>
        <td width=433><b>{{ data.email }}</b></td>
    </tr>
    <tr bgcolor='#F8F8F8'>
        <td width=117>Контактный телефон:</td>
        <td width=433><b>{{ data.telephone }}</b></td>
    </tr>
    <tr bgcolor='#F8F8F8'>
        <td width=117>Общая стоимость авиаперелёта:</td>
        <td width=433><b>{{ data.airfare }}</b></td>
    </tr>
</table>
<BR>Дата отправки:
<small>{{ data.date|date('Y-m-d H:i:s') }}</small>
<BR><BR>