<form name="SendOrder" method="post" action="https://epay.kkb.kz/jsp/process/logon.jsp" id="send_form">
    <input type="hidden" name="Signed_Order_B64" value="{{ base64Content }}">
    <input type="hidden" name="ShowCurr" value="kzt">
    <input type="hidden" name="ShowAmaunt" value="0">
    <input type="hidden" name="Language" value="rus">
    <input type="hidden" name="appendix" value="Бронирование билетов">
    <input type="hidden" name="BackLink" value="http://transavia-travel.kz/epay.php">
    <input type="hidden" name="FailureBackLink" value="http://transavia-travel.kz">
    <input type="hidden" name="PostLink" value="http://transavia-travel.kz/epay.php?final=1">
    <script type="text/javascript">setTimeout(document.getElementById('send_form').submit(), 2000);</script>
    <div>Сейчас Вы будете перемещены на страницу банка для оплаты. Если этого не произошло, пожалуйста, нажмите кнопку "Оплатить".</div>
    <br>
    <input type="submit" value="Оплатить" style="font-family: Verdana; font-size: 12px; text-decoration: none; color: #000000; cursor: default; background-color: #FFFFFF; border-style: solid; border-width: 1px; border-color: #000000;">
</form>