<div class="b-breadcrumbs">
    <ul>
        {% for menu in menus %}
            <li class="b-breadcrumbs__item {% if menu.children is defined %} b-breadcrumbs__item-active {% elseif loop.last %} b-breadcrumbs__item-last b-breadcrumbs__item-active {% endif %}">
                <a href="{{ path(menu.route, menu.params) }}">{{ menu.title|trans|lower }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>