.b-partners-list__item {
    float: none !important;
    display: inline-block !important;
}

.text-decoration-none {
    text-decoration: none;
}

.b-awards-image {
    background: url(../img/b-partners-list__image-bg-with-text.png) 0 0 no-repeat;
    overflow: hidden;
    float: left;
}

.b-awards-main__image img {
    height: auto;
}

.b-four-col__col {
    margin: 0 0 28px 0 !important;
}

.b-four-col__col-last {
    margin: 0 !important;
}

.mice-text:hover {
    cursor: pointer;
}

.b-partner-full {
    width: 820px;
    float: left;
}

.b-partner-full-image {
    width: 270px;
    float: left;
    padding-right: 10px;
}

.b-partners_register-on-main .b-online__form {
    /*height: 750px;*/
    background: url(../img/rails-form-bg.png) 0 0 no-repeat;
    padding: 25px 32px 10px 36px;
}

.b-online__form__footer {
    background: url(../img/hotel-form-main.png) 0 -535px no-repeat;
    height: 7px;
    margin-bottom: 50px;
}

.b-services-all-list__image {
    display: inline-block;
    width: 24px;
    float: left;
    margin: 1px;
    padding-top: 25px;
}

a.b-services-all-list__title {
    text-decoration: none;
}

.b-representation__map {
    position: relative;
}

.map-address > div {
    visibility: hidden;
    position: absolute;
    -webkit-box-sizing : content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*width: 160px;*/
    padding: 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal normal normal 12px/2 "PT Sans", Helvetica, sans-serif;
    color: rgba(102, 102, 102, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(252, 250, 218, 1);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(238, 226, 170, 1), 0 0 2px 1px rgba(255, 255, 255, 0.82) inset;
    box-shadow: 1px 1px 1px 0 rgba(238, 226, 170, 1), 0 0 2px 1px rgba(255, 255, 255, 0.82) inset;
}

#map-address-bishkek {
    right: -10px;
    bottom: 70px;
}
#map-address-aktobe{
    left: 165px;
    top: 40px;
}
#map-address-aktau{
    bottom: 110px;
    left: 60px;
}
#map-address-atyrau{
    left: 135px;
    top: 60px;
}
#map-address-karaganda{
    left: 100px;
    top: 70px;
}
#map-address-kostanay{
    left: -20px;
    top: 60px;
}
#map-address-ust-kamengorsk{
    right: 80px;
    top: 0;
}
#map-address-uralsk{
    left: 110px;
    top: 45px;
}
#map-address-aksay{
    left: 120px;
    top: -8px;
}
#map-address-temirtau{
    left: 50px;
    top: 60px;
}
#map-address-taldy-korgan{
    right: 120px;
    top: 65px;
}
#map-address-kokshetau{
    left: 0;
    top: 50px;
}
#map-address-astana{
    left: 161px;
    top: 95px;
}
#map-address-shymkent{
    bottom: 55px;
    left: 80px;
}
#map-address-semey{
    right: 110px;
    top: 5px;
}
#map-address-kyzyl-orda{
    bottom: 120px;
    right: 110px;
}
#map-address-pavlodar{
    right: 155px;
    top: -20px;
}
#map-address-petropavlovsk{
    left: 80px;
    top: 50px;
}
#map-address-zhezkazgan{
    right: 110px;
    top: 95px;
}
#map-address-minsk{
    left: 15px;
    top: -65px;
}
#map-address-kiev{
    left: 35px;
    top: -60px;
}
#map-address-almaty{
    bottom: -30px;
    right: 130px;
}
div[id^=map-address]{
    z-index: 1000;
}

.b-contacts__social .mailru {
    background: url(../img/social-mailru-20x20.png) 0 0 no-repeat;
}

.region-muted {
    opacity: 0.5;
}

.b-services-contacts {
    position: relative;
    z-index: 1;
}

.b-services-contacts-top {
    background: url(../img/b-services-contacts-top.png) 0 0 no-repeat;
    top: -10px;
    left: 0;
}

.b-services-contacts-middle {
    background: url(../img/b-services-contacts-middle.png) repeat-y scroll left top rgba(0, 0, 0, 0);
    bottom: 87px;
    left: 0;
    position: absolute;
    right: 0;
    top: 90px;
    width: 100%;
    z-index: -1;
}

.b-services-contacts-bottom {
    background: url(../img/b-services-contacts-bottom.png) 0 0 no-repeat;
    bottom: -13px;
    left: 0;

}

.b-services-contacts-bottom, .b-services-contacts-top {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.b-contacts-content {
    z-index: 1;
    padding-right: 40px;
}

.b-contacts__office {
    position: relative;
    z-index: 1;
}

.b-contacts-bottom, .b-contacts-top {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.b-contacts-top {
    background: url(../img/b-contacts-top.png) 0 0 no-repeat;
    top: -10px;
    left: 0;
}

.b-contacts-middle {
    background: url(../img/b-contacts-middle.png) repeat-y scroll left top rgba(0, 0, 0, 0);
    bottom: 87px;
    left: 0;
    position: absolute;
    right: 0;
    top: 90px;
    width: 100%;
    z-index: -1;
}

.b-contacts-bottom {
    background: url(../img/b-contacts-bottom.png) 0 0 no-repeat;
    bottom: -13px;
    left: 0;

}