@font-face {
    font-family: 'PT Sans Regular';
    src: url('../fonts/pt-sans-regular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/pt-sans-bold.eot');
    font-weight: normal;
    font-style: normal;
}