/* reset */
* {
    list-style: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #3f373c;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clear {
    clear: both !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Bold';
    font-weight: normal;
}

h1, h2, h3 {
    padding: 15px 0;
}

h4, h5, h6 {
    padding: 10px 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

p {
    font-size: 13px;
    padding: 8px 0;
}

ul {
    list-style-type: none;
}

ul li {
    background: url(../img/li-bg.png) 0 0 no-repeat;
    padding: 0 0 15px 22px;
}

ul li ul {
    padding: 10px 0 10px 20px;
}

ol li {
    list-style: decimal inside;
    background-image: none;
    padding-bottom: 15px;
}

ol li ol {
    padding: 10px 0 10px 20px;
}

a, a:hover, a:visited {
    color: #3f373c;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 5px;
}

pre {
    color: #333333;
}

.red {
    color: #ef3f22;
}

.underline-red {
    border-bottom: 1px dashed #ef3f22;
}

.underline {
    cursor: pointer;
}

.last {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

/* end reset */

/* fonts */
@font-face {
    font-family: 'PT Sans Regular';
    src: url('../fonts/pt-sans-regular.woff') format('woff'), url('../fonts/pt-sans-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/pt-sans-bold.woff') format('woff'), url('../fonts/pt-sans-bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* end fonts */

.wrapper {
    width: 100%;
    min-height: 100%;
    background: #ffffff;
    margin: 0 auto;
    position: relative;
}

.row {
    max-width: 1170px;
    min-width: 996px;
    margin: 0 auto;
}

.row h2 {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 22px;
}

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
    /*background: #ffe5e5;*/
    margin: 0 30px;
    /*padding: 0 10px;*/
    /*float: left;*/
}

.col-1 {
    width: 70px;
}

.col-2 {
    width: 170px;
}

.col-3 {
    width: 270px;
}

.col-4 {
    width: 370px;
}

.col-5 {
    width: 470px;
}

.col-6 {
    width: 570px;
}

.col-7 {
    width: 670px;
}

.col-8 {
    width: 770px;
}

.col-9 {
    width: 870px;
}

.col-10 {
    width: 970px;
}

.col-11 {
    width: 1070px;
}

.col-12 {
    width: 1170px;
}

/* header */
.b-header {
    position: relative;
    padding: 17px 0 30px 0;
}

.b-header__logo {
    padding: 22px 0 0 0;
    float: left;
}

.b-header__right {
    float: right;
}

.b-social-lang {
    float: right;
    padding: 0 2px 15px 0;
}

.b-lang {
    float: left;
}

.b-lang__item {
    padding: 0 51px 0 0;
    background-image: none;
    float: left;
}

.b-lang__item:last-child {
    padding-right: 0;
}

.b-lang__item a {
    text-decoration: none;
    font-size: 11px;
    background-position: 0 2px;
    background-repeat: no-repeat;
    padding: 0 0 0 21px;
}

.b-lang__item a:hover {
    text-decoration: underline;
}

.b-lang__item .kaz {
    background-image: url(../img/lang-kaz.png);
}

.b-lang__item .eng {
    background-image: url(../img/lang-eng.png);
}

.b-lang__item .ru {
    background-image: url(../img/lang-ru.png);
}

.b-social {
    padding: 3px 30px 0 0;
    float: left;
}

.b-social__item {
    padding: 0 0 0 14px;
    float: left;
    background-image: none;
}

.b-social__item a {
    display: block;
    width: 14px;
    height: 14px;
}

.b-social__item .facebook {
    background: url(../img/social-facebook.png) 0 0 no-repeat;
}

.b-social__item .twitter {
    background: url(../img/social-twitter.png) 0 0 no-repeat;
}

.b-social__item .vk {
    background: url(../img/social-vk.png) 0 0 no-repeat;
}

/* end header */

/* b-breadcrumbs */
.b-breadcrumbs {
    padding: 26px 0 33px 0;
}

.b-breadcrumbs__item {
    font-family: 'PT Sans Regular';
    font-size: 12px;
    background: url(../img/b-breadcrumbs__item-dot.png) 100% 050% no-repeat;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    float: left;
}

.b-breadcrumbs__item a,
.b-breadcrumbs__item a:hover,
.b-breadcrumbs__item a:visited {
    color: #3f373c;
}

.b-breadcrumbs__item a {
    text-decoration: none;
}

.b-breadcrumbs__item a:hover {
    text-decoration: underline;
}

.b-breadcrumbs__item-active,
.b-breadcrumbs__item-active a,
.b-breadcrumbs__item-active a:hover,
.b-breadcrumbs__item-active a:visited {
    color: #666666;
}

.b-breadcrumbs__item-last {
    background-image: none;
}

/* end b-breadcrumbs */

/* tel */
.b-header-tel {
    width: 164px;
    background: url(../img/tel-bg.png) 0 0 no-repeat;
    margin: 9px 0 0 6px;
    float: right;
}

.b-header-tel__inner {
    min-height: 35px;
    background: url(../img/tel-bottom-bg.png) 0 100% no-repeat;
    padding: 0 0 7px 0;
}

.b-header-tel__title {
    font-size: 11px;
    color: #938990;
    margin: -8px 0 0 0;
    padding: 0 0 0 14px;
}

.b-header-tel__title span {
    background: #ffffff;
}

.b-header-tel__code {
    font-family: 'PT Sans Regular';
    font-size: 13px;
    min-height: 17px;
    background: url(../img/tel-icon.png) 0 0 no-repeat;
    padding: 0 0 0 17px;
}

.b-header-tel__number {
    margin-left: -3px;
}

.b-header-tel__number {
    font-family: 'PT Sans Bold';
    font-size: 22px;
    margin: 0 0 0 -7px;
    padding: 0 0 2px 0;
}

/* end tel */

/* main-menu */
.b-main-menu {
    float: left;
    padding: 0 30px 0 0;
}

.b-main-menu__col {
    float: left;
    padding: 0 13px 0 0;
}

.b-main-menu__item {
    background-image: none;
    padding: 0 0 8px 20px;
    position: relative;
}

.b-main-menu__item a {
    text-decoration: none;
}

.b-main-menu__item a:hover {
    color: #ef3f22;
}

.icon-arrow-down {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url(../img/icon-arrow-down.png) 0 0 no-repeat;
}

.b-main-menu__item .pos-helper {
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
}

.b-main-menu__item .submenu {
    z-index: 10;
}

.b-main-menu__item .submenu ul {
    padding: 5px 0 0 10px;
}

.b-main-menu__item .submenu ul li {
    width: 150px;
    background: #ffffff;
    padding: 0 0 9px 10px;
}

@media (max-width: 1200px) {
    .b-header {
        padding: 17px 30px 30px 30px;
    }

    .b-main-menu__col {
        padding: 0 5px 0 0;
    }
}

/* end main-menu */

/* main-slider */
.b-main-slider {
    height: 417px;
    max-width: 1300px;
    background: url(../img/main-slider-bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* end main-slider */

/* online */
.b-online {
    min-height: 481px;
    background: url(../img/online-bg.png) 0 0 no-repeat;
}

.b-online-inner {
    width: 777px;
    margin: 0 auto;
}

.b-tab-menu {
    padding: 0 0 22px 0;
}

.b-tab-menu__item {
    background-image: none;
    padding: 0 20px 0 5px;
    float: left;
}

.b-tab-menu__item a {
    text-decoration: none;
    font-family: 'PT Sans Bold';
    font-size: 17px;
    color: #ef3f22;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border-bottom: 2px dashed #ef3f22;*/
    padding: 0 0 3px 28px;
}

.b-tab-menu__item-selected a {
    color: #3f373c;
}

.b-tab-menu__item a .underline-red {
    border-bottom: 2px dashed #ef3f22;
}

.b-tab-menu__item-selected a .underline-red {
    border-bottom: none;
}

.b-icon-avia-gray {
    background-image: url(../img/icon-plane-gray.png);
    background-position: 0 1px;
}

.b-icon-avia-red {
    background-image: url(../img/icon-plane-red.png);
    background-position: 0 1px;
}

.b-icon-train-red {
    background-image: url(../img/icon-train-red.png);
}

.b-icon-train-gray {
    background-image: url(../img/icon-train-gray.png);
}

.b-icon-hotel-red {
    background-image: url(../img/icon-hotel-red.png);
    background-position: 0 1px;
}

.b-icon-hotel-gray {
    background-image: url(../img/icon-hotel-gray.png);
}

.b-icon-man-red {
    background-image: url(../img/icon-man-red.png);
    background-position: 0 1px;
}

.b-icon-man-gray {
    background-image: url(../img/icon-man-gray.png);
}

.b-icon-car {
    background-image: url(../img/icon-car.png);
    background-position: 0 2px;
}

.b-online__form {
    height: 219px;
    background: url(../img/form-bg.png) 0 0 no-repeat;
    padding: 25px 32px 110px 36px;
}

.b-online__form h2 {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 22px;
    padding: 15px 0 29px 0;
}

.b-hotel_form-on-main .b-online__form h2 {
    padding-bottom: 15px;
}

.online .input .text {
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: 1px solid #e8e6e0;
    border-radius: 5px;
    padding: 0 10px;
}

.b-item {
    float: left;
    padding: 0 10px 5px 0;
    text-align: left;
}

.b-row .b-item:first-child {
    margin: 0 0 0 0;
}

.b-row .b-item {
    margin: 0 0 0 31px;
}

.b-passanger-number__input {
    width: 30px;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 15px 0 0;
    padding: 0 8px 0 30px;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: 1px solid #e8e6e0;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.b-passanger-number__adult {
    background-image: url(../img/icon-adult.png);
    background-position: 17px 8px;
}

.b-passanger-number__child {
    background-image: url(../img/icon-child.png);
    background-position: 17px 10px;
}

.b-passanger-number__infant {
    background-image: url(../img/icon-infant.png);
    background-position: 17px 11px;
}

.b-online__form .b-button {
    width: 279px;
	margin-top: 7px;
}

.b-button {
    /*width: 290px;*/
    height: 40px;
    display: inline-block;
    padding: 0 15px;
    line-height: 40px;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #ffffff;
    line-height: 40px;
    background: #ef3f22;
    border-radius: 5px;
    cursor: pointer;
}

.b-button:hover {
    opacity: 0.8;
}

input.b-button {
    line-height: normal;
}

.b-multi-input {
    width: 278px;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: 1px solid #e8e6e0;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    position: relative;
	float: left;
}

.b-multi-input input {
    background-color: transparent;
    height: 100%;
	color: #A0A0A0;
}

.b-multi-input__text {
    border: none;
    padding: 0 0;
    position: absolute;
    top: 0;
    left: 11px;
    width: 125px;
}

.b-multi-input__date {
    border: none;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
   width: 136px;
}

.b-datepicker-icon {
    width: 20px;
    height: 22px;
    background-image: url(../img/datepicker-icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.b-multi-input .b-datepicker-icon {
    position: absolute;
    top: 8px;
    right: 9px;
}

.b-exmpl {
    padding: 5px 0 0 0;
	float: left;
    clear: both;
}

.b-plane-buttons {
    float: left;
    width: 120px;
    height: 34px;
    padding: 3px 0;
    background-color: #938990;
    border-radius: 5px;
    margin: 0 10px 0 0;
}

.b-plane-buttons__item {
    float: left;
    padding: 0 0 0 0;
    background-image: none;
    width: 39px;
    border-right: 1px solid #7b6d77;
    height: 34px;
}

.b-plane-buttons__item:last-child {
    border-right: none;
}

.b-plane-buttons__item a {
    display: block;
    width: 100%;
    height: 34px;
    background-position: 50% 6px;
    background-repeat: no-repeat;
}

.b-one-way {
    background-image: url(../img/one-way.png);
}

.b-plane-buttons__item .b-one-way {
    background-position: 50% 8px;
}

.b-two-way {
    background-image: url(../img/two-way.png);
}

.b-hz-way {
    background-image: url(../img/hz-ticket.png);
}

.b-plane-buttons__item-active a {
    background-position: 50% -29px;
}

.b-plane-buttons__item-active .b-one-way {
    background-position: 50% -31px;
}

.b-switcher-block {
    padding: 10px 0 0 4px;
}

.b-switcher-label {
    float: left;
    color: #3f373c;
    font-size: 16px;
}

.b-smaller-switcher .b-switcher-label {
    font-size: 12px;
    line-height: 16px;
    display: block;
    height: 16px;
}

.switcher {
    float: left;
    margin: 2px 6px 0 8px;
}

.b-smaller-switcher .switcher {
    margin: 0 10px 0 10px;
}

.b-smaller-switcher .switchery {
    width: 34px;
}

/* end online */

/* tours */
.b-tours {

}

.b-tours-banners {

}

.b-tours-banners__item {
    background-image: none;
    padding: 0;
    float: left;
    max-width: 600px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .b-tours-banners__item {
        max-width: 50%;
    }
}

.b-tours-grey {
    max-width: 1190px;
    min-width: 996px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    margin-top: -37px;
}

.b-tours-grey__bg {
    height: 108px;
    color: #ffffff;
    background: url(../img/tour-bottom-bg.png) -2px 0 no-repeat;
    padding: 95px 35px 85px 35px;
    position: relative;
    z-index: 5;
}

.b-tours-grey__item {
    background-image: none;
    margin: 0 35px 0 0;
    padding: 0 0 0 45px;
    float: left;
    width: 300px;
}

@media (max-width: 1200px) {
    .b-tours-grey__bg {
        padding: 95px 30px 85px 35px;
    }

    .b-tours-grey__item {
        margin: 0 20px 0 0;
        width: 255px;
    }
}

.b-tours-grey__security {
    background: url(../img/icon-security.png) 0 5px no-repeat;
}

.b-tours-grey__time {
    background: url(../img/icon-time.png) 0 5px no-repeat;
}

.b-tours-grey__quality {
    margin: 0;
    background: url(../img/icon-quality.png) 0 5px no-repeat;
}

/* end tours */

/* about-news */
.b-about-news {
    padding: 0 0 60px 0;
}

.b-about-main-col {
    width: 370px;
    padding: 0 30px 0 0;
    float: left;
}

.b-news-main-col {
    width: 370px;
    padding: 0 30px 0 0;
    float: left;
}

.b-banner-arrows {
    width: 200px;
    min-height: 221px;
    height: 100%;
    background: url(../img/about-bg.png) 45px 75px no-repeat;
    float: left;
}

.b-about-main {
    background: url(../img/about-map-bg.png) 50% 100% no-repeat;
}

.b-about-main p {
    padding: 0 0 8px 0;
}

.b-address-all {
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.b-icon-marker__map {
    background: url(../img/icon-marker.png) 9px 0 no-repeat;
    padding: 0 0 0 24px;
}

.b-news-main {
    background: url(../img/news-bottom.png) 50% 100% no-repeat;
}

.b-news-main__item {
    background-image: none;
    padding: 0 0 24px 0;
}

.b-date {
    font-size: 9px;
    color: #938990;
    padding: 2px 0 0 0;
}

.b-news-main__item .b-date {
    width: 70px;
    float: left;
}

.b-news-main__item:hover .b-date {
    color: #000000;
}

.b-news-main__item-text {
    width: 300px;
    font-size: 12px;
    float: right;
}

.b-news-main__item a,
.b-news-main__item a:hover,
.b-news-main__item a:visited {
    text-decoration: none;
}

.b-news-main__item a:hover {
    color: #ef3f22;
}

.b-news-control {
    text-align: center;
}

.b-news-control a {
    display: inline-block;
    width: 7px;
    height: 4px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.b-news-control a:hover {
    background-position: 0 -4px;
}

.b-news-control__up {
    background-image: url(../img/news-control-up.png);
}

.b-news-control__down {
    background-image: url(../img/news-control-down.png);
}

.about-news .banner {
    width: 170px;
    padding: 20px 0 0 0;
    float: right;
}

.news ul li .text a {
    color: #3f373c;
    text-decoration: none;
}

.news ul li .text a:hover {
    text-decoration: underline;
}

.b-banner {
    width: 170px;
    float: right;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .b-banner-arrows {
        display: none;
    }

    .b-about-news__item {
        padding: 0 20px 0 0;
    }

    .b-about-news {
        padding: 0 30px 60px 30px;
    }

    .b-about-main-col {
        width: 300px;
        padding: 0 20px 0 0;
    }

    .b-news-main-col {
        width: 380px;
        padding: 0 20px 0 0;
    }
}

/* end about-news */

/* services */
.b-services,
.b-services-top,
.b-services-bottom {
    width: 100%;
}

.b-services {
    color: #ffffff;
    background: url(../img/services-bg.png) 0 0 repeat;
    margin: 0 0 60px 0;
}

.services ul li {
    background-image: none;
    padding: 0;
}

.b-services-top {
    height: 4px;
    background: url(../img/services-top.png) 0 0 repeat-x;
    margin: -4px 0 0 0;
}

.b-services-bottom {
    height: 4px;
    background: url(../img/services-bottom.png) 0 0 repeat-x;
    margin: 0 0 -4px 0;
}



.b-services-right-block {
    float: right;
}

.b-services-inner {
    padding: 0 0 38px 0;
}

.b-service-list {
    width: 53%;
    margin: 20px 0 0 0;
    float: left;
}

.b-service-list h2 {
    padding-bottom: 27px;
}

.b-service-list ul {
    padding: 0 0 0 22px;
}

.b-service-list__item {
    width: 164px;
    height: 42px;
    float: left;
    padding: 0 0 0 0;
    background-image: none;
    font-size: 14px;
    color: #fff;
    margin: 0 30px 30px 0;
    line-height: 13px;
    border: 3px solid transparent;
    border-left: none;
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.b-service-list__item a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.b-service-list__item .b-service-list__icon {
    margin: -3px 10px 0 -22px;
}

.b-service-list__icon {
    width: 42px;
    height: 42px;
    float: left;
    border: 3px solid #fff;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.b-service-list__icon .b-service-list__icon-sub {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../img/services-icons.png);
    background-repeat: no-repeat;
}

.b-service-list__icon-plane .b-service-list__icon-sub {
    background-position: 50% -18px;
}

.b-service-list__icon-train .b-service-list__icon-sub {
    background-position: 50% -87px;
}

.b-service-list__icon-hotel .b-service-list__icon-sub {
    background-position: 50% -123px;
}

.b-service-list__icon-auto .b-service-list__icon-sub {
    background-position: 50% -52px;
}

.b-service-list__icon-trailer .b-service-list__icon-sub {
    background-position: 50% 14px;
}

.b-service-list__icon-tours .b-service-list__icon-sub {
    background-position: 50% -162px;
}

.b-service-list__icon-bag .b-service-list__icon-sub {
    background-position: 50% -200px;
}

.b-service-list__item:hover {
    border: 3px solid #fff;
    border-left: none;
}

.b-service-list__item:hover .b-service-list__icon .b-service-list__icon-sub {
    box-sizing: border-box;
    border: 2px solid #ef3f22;
}

.b-service-list__item:hover .b-service-list__icon-plane .b-service-list__icon-sub {
    background-position: 50% -20px;
}

.b-service-list__item:hover .b-service-list__icon-train .b-service-list__icon-sub {
    background-position: 50% -89px;
}

.b-service-list__item:hover .b-service-list__icon-hotel .b-service-list__icon-sub {
    background-position: 50% -125px;
}

.b-service-list__item:hover .b-service-list__icon-auto .b-service-list__icon-sub {
    background-position: 50% -54px;
}

.b-service-list__item:hover .b-service-list__icon-trailer .b-service-list__icon-sub {
    background-position: 50% 12px;
}

.b-service-list__item:hover .b-service-list__icon-tours .b-service-list__icon-sub {
    background-position: 50% -164px;
}

.b-service-list__item:hover .b-service-list__icon-bag .b-service-list__icon-sub {
    background-position: 50% -202px;
}

.mice-service {
    width: 46%;
    border: 4px solid #ffffff;
    margin: 45px 0 0 0;
    float: right;
}

.mice-service h2 {
    margin: -30px 0 0 6px;
}

.mice-service h2 span {
    background: #ef3f22;
    padding: 0 9px;
}

.mice-text {
    padding: 35px 60px 50px 25px;
}

.mice-text p {
    padding: 0 0 0 0;
    margin: 0 0 0 70px;
    line-height: 16px;
    font-size: 14px;
}

.mice-text .b-service-list__icon {
    margin: 3px 0 0 0;
}

@media (max-width: 1154px) {
    .b-service-list__item {
        width: 137px;
        margin: 0 20px 30px 0;
    }

    .b-services-inner {
        padding: 0 30px 38px 30px;
    }

    .mice-text {
        padding: 10px 25px 25px 25px;
    }
}

/* end services */

/* awards-representation */
.b-awards-representation {
    padding: 0 0 29px 0;
}

.b-awards-representation h2 {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 22px;
    padding: 18px 0 9px 0;
}

.b-awards-main {
    width: 370px;
    float: left;
    padding: 0 30px 0 0;
}

.b-awards-main__text,
.b-awards-main__list {
    width: 170px;
}

.b-awards-main__text {
    float: left;
}

.b-awards-main__text p {
    padding: 0 0 0 0;
    line-height: 18px;
    color: #666;
}

.b-awards-main__list {
    padding: 0 0 0 0;
    float: right;
    position: relative;
    margin: -24px 0 0 0;
}

.b-awards-main__list__arrow {
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}

.b-awards-main__list__arrow-next {
    background: url(../img/award-next.png) 0 0 no-repeat;
    right: 0;
}

.b-awards-main__list__arrow-prev {
    background: url(../img/award-prev.png) 0 0 no-repeat;
    left: 0;
}

.b-awards-main__list__item {
    background-image: none;
    padding: 0;
}

.b-awards-main__image {
    text-align: center;
}

.b-awards-main__description {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #000000;
}

.b-representation {
    float: right;
    max-width: 770px;
    min-width: 620px;
}

.b-representation__map {
    float: left;
    margin: 0 30px 0 0;
    width: 570px;
}

.b-region-list {
    float: right;
    width: 170px;
    padding: 13px 0 0 0;
}

.b-region-list .b-item {
    font-size: 12px;
    padding: 0 0 18px 0;
    float: right;
}

.b-region-list .b-switcher-block {
    padding-left: 0;
}

.b-region-list .switcher {
    margin: 0 7px 0 7px;
}

.b-region-list__item {
    font-size: 11px;
    background-image: none;
    padding: 0 0 9px 0;
}

.b-region-list__item a {
    color: #010000;
}

@media (max-width: 1200px) {
    .b-awards-main {
        width: 300px;
        padding: 0 20px 0 0;
    }

    .b-awards-main__text {
        display: none;
    }

    .b-region-list {
        display: none;
    }

    .b-awards-representation {
        padding: 0 30px 29px 30px;
    }

    .b-representation__map {
        margin: 0 0 0 0;
        float: none;
        width: auto;
        text-align: center;
    }

    .b-representation__map h2 {
        text-align: left;
    }

    .b-awards-main__list {
        float: none;
        margin: 17px 0 0 0;
        width: 100%;
    }
}

/* end awards-representation */

/* b-news-list */
.b-four-col {
    /* width: 1230px; */
    margin: 0 auto;
}

.b-four-col__col {
    width: 23%;
    margin: 0 25px 0 0;
    float: left;
}

.b-four-col__col-last {
    margin: 0;
}

.b-news-list__item {
    background-image: none;
    background-color: #fafafa;
    /* background: url(../img/news-list__item-bg.png) 0 0 no-repeat; */
    margin: 0 0 28px 0;
    padding: 0;
}

.b-news-list__item__inner {
    /* background: url(../img/news-list__item-bottom-bg.png) 0 100% no-repeat; */
    border: 1px solid #ffffff;
    padding: 15px 20px;
    margin: 1px;
}

.b-news-list__item,
.b-news-list__item__inner {
    border-radius: 5px;
}

.b-news-list__item:hover {
    box-shadow: 0px 0px 25px #cccccc;
}

.b-news-list__item__title {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    line-height: 19px;
    padding: 0 0 10px 0;
    color: #3f373c;
}

.b-news-list__item__title a {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #3f373c;
}

.b-news-list__item__title a,
.b-news-list__item__title a:visited {
    text-decoration: none;
}

.b-news-list__item__title a:hover {
    text-decoration: underline;
}

.b-news-list__item__img-frame {
    overflow: hidden;
}

.b-news-list__item__img-frame img {
    width: 100%;
    height: auto;
}

.b-news-list__item .b-date {
    padding: 6px 0 8px 0;
}

.b-news-list__item__text,
.b-news-list__item__text p {
    font-size: 13px;
    color: #666666;
}

.b-news-list__item__text p {
    padding: 0 0 0px 0;
}

.b-news-more-button {
    text-align: center;
    padding: 9px 0 80px 0;
}

.b-news-more-button .b-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 51px;
}

.b-news-more-button .b-button:hover {
    color: #ffffff;
}

/* end b-news-list */

/* b-news-full */
.b-news-full {
    padding: 0 0 113px 0;
}

.b-two-col {
    /* width: 570px; */
    width: 48%;
    margin: 0 auto;
    float: right;
}

.b-two-col__col {
    width: 45%;
    margin: 0 25px 0 0;
    float: left;
}

.b-two-col__col-last {
    margin: 0;
}

.b-news-full__two-banners .b-banner {
    width: auto;
}

.b-news-post {
    /* width: 570px; */
    width: 48%;
    float: left;
}

.b-news-post__title {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 24px !important;
    line-height: 30px;
    padding: 0 0 10px 0;
    color: #3f373c;
}

.b-news-post .b-date {
    padding: 8px 0;
}

.b-news-post p {
    color: #666666;
    padding: 0;
}

.b-news-post__table {
    width: 100%;
    color: #000000;
    border: 1px solid #414141;
    border-collapse: separate;
    border-spacing: 1px;
    margin: 10px 0;
}

.b-news-post__table th,
.b-news-post__table td {
    border: 1px solid #414141;
}

.b-news-post__table thead {
    color: #004bff;
}

.b-news-post__table tbody tr:nth-child(even) {
    color: #004bff;
}

.b-news-post__table th:first-child,
.b-news-post__table td:first-child {
    width: 35%;
}

/* end news-full */

/* b-hotel */
.b-hotel-wrapper-bg {
    background: url(../img/online-bg.png) 95% 110px no-repeat;
}

.b-hotel {
    /* background: url(../img/online-bg.png) 0 0 no-repeat; */
}

.b-hotel .b-online {
    background-image: none;
}

.b-hotel .b-online,
.b-hotel .b-online-inner {
    width: 690px;
}

.b-hotel .b-online {
    float: right;
}

.b-hotel .b-online h2 {
    text-align: center;
    padding-bottom: 20px;
}

.b-hotel .b-online__form {
    height: auto;
    background-image: url(../img/b-hotel__online__form-bg_2.png);
}

.b-hotel_form-on-main .b-online__form {
    background-image: url(../img/hotel-form-main.png);
}

.b-cars_form-on-main .b-online__form {
    background-image: url(../img/cars-form-main.png);
}

.b-hotel .b-multi-input {
    width: 230px;
}

.b-hotel .b-multi-input__text {
    width: 80px;
}

.b-hotel .b-online__form .b-button {
    width: 200px;
    text-transform: uppercase;
}

.b-hotel .b-row .b-item {
    margin: 0 0 0 18px;
    padding: 0 0 16px 0;
}

.b-hotel_form-on-main .b-row .b-item {
    margin: 0 0 0 32px;
}

.b-hotel .b-row .b-item:first-child {
    margin: 0 0 0 0;
}

.b-hotel .b-passanger-number {
    /* padding-bottom: 30px; */
}

.b-hotel .b-item-select-short,
.b-hotel .b-item-select-short .jq-selectbox {
    width: 122px;
}

.b-hotel .b-item-submit {
    width: 100%;
}

.b-hotels {
    width: 470px;
    float: left;
}

@media (max-width: 1200px) {
    .b-hotels {
        width: 31%;
    }
}

.b-hotels p {
    color: #666666;
}

.b-hotel-list {
    background: #f7f7f7;
    padding: 11px 21px;
}

.b-hotel-list__item {
    background-image: none;
    padding: 0;
}

.b-hotel-list__item__city {
    display: block;
    height: 30px;
    text-decoration: none;
    color: #3f373c;
    line-height: 30px;
    border-bottom: 1px solid #dedede;
    background: url(../img/hotel-list__plus-icon.png) 10px 10px no-repeat;
    padding: 0 10px 0 25px;
}

.b-hotel-list__item__city:hover {
    background-color: #dedede;
    border-bottom: 1px solid #f7f7f7;
}

.js-minus-icon {
    background-image: url(../img/hotel-list__minus-icon.png);
}

.js-hover-text {
    display: none;
    color: #ef3f22;
    background: url(../img/city-name__hover-text-icon.png) 0 12px no-repeat;
    padding: 0 0 0 22px;
    float: right;
}

.b-sub-hotel-list {
    display: none;
    padding: 0;
}

.b-sub-hotel-list ul {
    padding: 0;
}

.b-sub-hotel-list__item {
    color: #666666;
    background-image: none;
    border-bottom: 1px solid #dedede;
    margin: 0 0 10px 0;
    padding: 0 0 9px 0;
}

.b-sub-hotel-list__item:last-child {
    margin: 0 0 0 0;
}

.b-sub-hotel-list__item__image-frame {
    width: 150px;
    height: 113px;
    background: #dedede;
    overflow: hidden;
    float: left;
}

.b-sub-hotel-list__item__image-frame img {
    /* width: 100%; */
    /* height: auto; */
}

.b-sub-hotel-list__item__details {
    width: 265px;
    padding: 0 0 0 10px;
    float: right;
}

.b-sub-hotel-list__item__details strong {
    font-family: 'PT Sans Bold';
}

.hotel-stars {
    display: inline;
    padding: 0;
}

.hotel-stars__item {
    display: inline-block;
    width: 10px;
    background-image: none;
    padding: 0 4px 0 0;
}

/* end b-hotel */

/* footer */
.b-footer {
    padding: 0 0 30px 0;
    background: url(../img/contracts-bg.png) 0 86px no-repeat;
}

.b-footer h2 {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 22px;
}

.b-footer__contacts {
    width: 49%;
    float: left;
}

.b-footer__contacts ul {
    float: left;
    margin: 0 30px 0 0;
    width: 270px;
}

.b-footer__contacts__item {
    font-size: 18px;
    padding-left: 30px;
    background-image: none;
}

.b-footer__tel-code {
    font-size: 14px;
}

.b-footer__phone {
    background: url(../img/icon-phone.png) 6px 0 no-repeat;
}

.b-footer__mail {
    background: url(../img/icon-mail.png) 0 0 no-repeat;
}

.b-footer__fax {
    background: url(../img/icon-fax.png) 0 0 no-repeat;
}

.b-footer__address-all {
    font-size: 13px;
    background: url(../img/icon-marker.png) 9px 0 no-repeat;
    padding: 0 0 0 24px;
}

.b-footer__social {
    margin: 0;
}

.b-footer__social__item {
    font-size: 14px;
    padding: 0 0 20px 25px;
}

.b-footer__social a,
.b-footer__social a:hover,
.b-footer__social a:visited {
    color: #000000;
}

.b-footer__social a,
.b-footer__social a:visited {
    text-decoration: none;
}

.b-footer__social a:hover {
    text-decoration: underline;
}

.b-footer__social .facebook {
    background: url(../img/social-facebook-20x20.png) 0 0 no-repeat;
}

.b-footer__social .twitter {
    background: url(../img/social-twitter-20x20.png) 0 0 no-repeat;
}

.b-footer__social .vk {
    background: url(../img/social-vk-20x20.png) 0 0 no-repeat;
}

.b-footer__social .odnoklassniki {
    background: url(../img/social-odnoklassniki-20x20.png) 0 0 no-repeat;
}

.b-footer__social .mailru {
    background: url(../img/social-mailru-20x20.png) 0 0 no-repeat;
}

.b-partners {
    width: 49%;
    float: right;
}

.b-partners ul li {
    padding: 0 0 0 0;
    background-image: none;
}

.b-partners a {
    /*display: inline-block;*/
    margin: 15px 25px 15px 0;
    float: left;
}

.b-footer-bottom {
    padding: 37px 0 0 0;
}

.b-copyright,
.b-accredited {
    color: #938990;
}

.b-copyright {
    padding: 14px 0 0 0;
    float: left;
}

.b-accredited {
    width: 100px;
    min-height: 30px;
    background: url(../img/iata.png) 100% 0 no-repeat;
    padding: 0 47px 0 0;
    float: left;
}

.b-live-internet {
    float: right;
}

.b-footer_w50-right {
    width: 49%;
    float: right;
}

@media (max-width: 1200px) {
    .b-footer {
        padding: 0 30px 30px 30px;
    }

    .b-footer__mail {
        font-size: 16px;
    }

    .b-footer__contacts ul {
        margin: 0 20px 0 0;
        width: 220px;
    }
}

/* end footer */

/* jd */
.b-rails-wrapper-bg {
    background: url(../img/online-bg.png) 95% 110px no-repeat;
}

@media (max-width: 1154px) {
    .b-rails-left-col {
        float: none !important;
        margin: 0 auto;
    }

    .b-rails .b-online {
        float: none !important;
        margin: 0 auto;
    }
}

.b-rails-left-col {
    width: 440px;
    color: #666666;
    float: left;
}

.b-rails-left-col__title {
    color: #3f373c;
}

.b-rails-offices {
    width: 395px;
    min-height: 632px;
    background: url(../img/b-rails-contacts-bg.png) 0 0 no-repeat;
    margin: 0 auto;
}

.b-rails-offices-inner {
    background: url(../img/b-rails-contacts-bottom-white.png) 0 100% no-repeat;
    padding: 32px 41px;
}

.b-rails-offices__item {
    background-image: none;
    padding: 0 0 23px 0;
}

.b-rails-offices__item:last-child {
    padding-bottom: 0;
}

.b-office-contacts {
}

.b-office-contacts ul {
    margin: 0 30px 0 0;
    padding: 0;
    width: 270px;
}

.b-office-contacts__item {
    font-size: 18px;
    color: #000000;
    background-image: none;
    padding-left: 30px;
    padding: 3px 0 15px 32px;
    line-height: 16px;
}

.b-office-contacts__item .tel-code {
    font-size: 14px;
    color: #000000;
}

.b-office__phone {
    background: url(../img/icon-phone.png) 6px 0 no-repeat;
}

.b-office__mail {
    background: url(../img/icon-mail.png) 0 3px no-repeat;
}

.b-office__fax {
    background: url(../img/icon-fax.png) 0 0 no-repeat;
}

.b-office__address {
    font-size: 13px;
    background: url(../img/icon-marker-black.png) 6px 2px no-repeat;
}

.b-rails .b-online {
    background-image: none;
    float: right;
}

.b-rails .b-online-inner {
    width: 685px;
}

.b-rails .b-online__form {
    height: 750px;
    background: url(../img/b-rails__b-online.png) 0 0 no-repeat;
}

.b-online__form {
    text-align: center;
}

.b-online__form form {
    display: inline-block;
}

.b-rails_form-on-main .b-online__form {
    height: 750px;
    background: url(../img/rails-form-bg.png) 0 0 no-repeat;
}

.b-rails .b-online__form h2 {
    text-align: center;
    padding: 20px 0 8px 0;
}

.b-select-292 .jq-selectbox {
    width: 292px;
}

.b-rails .b-item {
    padding: 0 0 11px 0;
}

.b-rails .b-item-submit {
    width: 100%;
    padding: 9px 0 0 0;
}

.b-rails .b-item-submit .b-button {
    text-transform: uppercase;
}

.b-label {
    color: #666666;
    padding: 0 0 5px 0;
}

.b-input {
    width: 613px;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: 1px solid #e8e6e0;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    position: relative;
}

.b-input-short {
    width: 290px;
    margin: 0 0 0 0;
}

.b-input input {
    height: 100%;
    background-color: transparent;
}

.b-input__text {
    width: 573px;
    border: none;
    padding: 0 0;
    position: absolute;
    top: 0;
    left: 11px;
}

.b-input-short .b-input__text {
    width: 268px;
}

.b-input-short-datepicker .b-input__text {
    width: 243px;
}

.b-input-short .b-datepicker-icon {
    position: absolute;
    top: 8px;
    right: 9px;
}

.b-item-checkbox {
    width: 100%;
}

.b-wagon-type {
    width: 136px;
}

.b-passenger-cat {
    width: 174px;
}

.b-checkbox-list {
    float: left;
    padding: 0 61px 0 0;
}

.b-checkbox-list:last-child {
    padding-right: 0;
}

.b-checkbox-list__title {
    padding: 0 0 8px 0;
    font-size: 13px;
    color: #666;
    font-family: 'PT Sans', sans-serif;
}

.b-checkbox-list__item {
    background-image: none;
    padding: 0 0 3px 0;
}

.b-checkbox-list__item label {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 0;
}

/* end jd */

.b-row {
    width: 100%;
    margin: 0 auto;
}

/* info */
.b-info-title {
    padding-bottom: 43px;
}

.b-info-caption {
    display: inline-block;
    width: 290px;
    text-transform: none;
    /* font-family:"Times New Roman", Times, serif; */
    font-size: 12px;
    color: #666666;
    padding-left: 40px;
}

.b-info-caption__select {
    width: 230px;
}

.b-image-frame {
    overflow: hidden;
}

.b-image-frame img {
    width: 100%;
    height: auto;
}

.b-info-post p {
    padding: 0 0 18px 0;
}

.b-info-post h3 {
    text-transform: none;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    padding: 0 0 8px 0;
}

/* end info */

/* b-partners-page */
.b-partners-page {
    padding: 0 0 110px 0;
}

.b-partners__text {
    width: 48%;
    padding: 0 0 25px 0;
}

.b-partners-list__item {
    width: 48%;
    background-image: none;
    padding: 0 15px 30px 0;
    float: left;
}

.b-partner-image {
    width: 270px;
    height: 160px;
    /*background: url(../img/b-partners-list__image-bg-with-text.png) 0 0 no-repeat;*/
    overflow: hidden;
    float: left;
}

.b-partner-description {
    width: 48%;
    padding: 0 0 0 10px;
    float: left;
}

.b-partner-description > a {
    text-decoration: none;
}

/* end b-partners-page */

/* 404 */
.b-error {
    padding: 0 0 48px 0;
}

.b-error__num {
    width: 370px;
    padding: 0 30px 0 0;
    float: left;
}

.b-error__num h2 {
    font-family: 'PT Sans Bold';
    font-size: 200px;
    padding: 0;
}

.b-error__text {
    width: 485px;
    padding: 99px 0 0 0;
    float: left;
}

.b-error__text p {
    padding: 0;
}

.b-error__text a,
.b-error__text a:hover,
.b-error__text a:visited {
    color: #ef3f22;
}

.b-error__text a,
.b-error__text a:visited {
    text-decoration: none;
}

.b-error__text a:hover {
    text-decoration: underline;
}

/* end 404 */

/* timetable */
.b-timetable__table {
    width: 100%;
}

.b-timetable__table thead,
.b-timetable__table tfoot {
    background: #f3f3f9;
}

.b-timetable__table tbody tr:nth-child(even) {
    background: #f3f3f9;
}

.b-timetable__icon {
    width: 24px;
    padding: 0 0 0 10px;
}

.b-timetable__code {
    width: 57px;
}

/* end timetable */

/* b-company-full */
.b-company-full {
    padding: 0 0 85px 0;
}

.b-company {
    width: 48%;
    position: relative;
    float: left;
}

.b-company__title {
    padding: 0 0 15px 0;
}

.b-company p {
    color: #666666;
}

.b-company-text {
    width: 48%;
    padding: 28px 0 0 0;
    float: right;
}

.b-company-text p {
    color: #666666;
    padding: 0;
}

.b-company-text .red,
.b-company-text .red:hover,
.b-company-text .red:visited {
    color: #ef3f22;
}

.b-company-text .red:hover {
    text-decoration: underline;
}

.b-company-text .link-more {
    margin: 0 0 0 15px;
}

.b-company__title {
    text-align: right;
}

.b-company__image {
    position: absolute;
    right: 0;
}

.b-company__image-buff {
    width: 100%;
    height: 166px;
    padding: 0 0 43px 0;
}

/* end b-company-full */

/* b-about */
.b-about {
    padding: 0 0 92px 0;
}

.b-about__text {
    width: 48%;
    float: left;
}

.b-about__text li::before {
    content: "•";
    margin-left: -10px;
}

.b-about__text li {
    background-image: none;
    padding: 0 0 5px 10px;
}

.b-about__partners-online {
    width: 49%;
    float: right;
}

.b-about__partners-online .b-partners {
    width: 100%;
}

.b-online-avia {
    width: 470px;
    min-height: 137px;
    text-align: center;
    background: url(../img/b-online-avia-bg.png) 0 0 no-repeat;
    margin: 0 0 0 60px;
    padding: 100px 0 26px 0;
    /* float: right; */
}

.b-online-avia .b-button,
.b-online-avia .b-button:hover,
.b-online-avia .b-button:visited {
    text-decoration: none;
    color: #ffffff;
}

/* end b-about */

/* b-advantages */
.b-advantages {
    width: 1130px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px #f1f1f1;
    margin-top: -115px;
    margin-bottom: 55px;
    padding: 115px 0 30px 40px;
}

.b-advantages-col {
    width: 47%;
    padding: 0 30px 0 0;
    float: left;
}

.b-advantages-col:last-child {
    padding: 0;
}

.b-advantages-col li::before {
    content: "•";
    margin-left: -10px;
}

.b-advantages-col li {
    background-image: none;
    padding: 0 0 5px 10px;
}

/* end b-advantages */

/* b-book */
.b-book {
    padding: 0 0 127px 0;
}

.b-mini-slider {
    width: 470px;
    overflow: hidden;
    margin: 30px 0 0 0;
    float: left;
    position: relative;
}

.b-mini-slider-prev,
.b-mini-slider-next {
    display: block;
    width: 7px;
    height: 10px;
    background-position: 0 -10px;
    background-repeat: no-repeat;
    position: absolute;
    top: 62px;
}

.b-mini-slider-prev:hover,
.b-mini-slider-next:hover {
    background-position: 0 0;
}

.b-mini-slider-prev {
    background-image: url(../img/b-mini-slider-prev.png);
    left: 0;
}

.b-mini-slider-next {
    background-image: url(../img/b-mini-slider-next.png);
    right: 0;
}

.b-mini-slide {
    width: 202px;
    background: #fafafa;
    margin: 0 5px 0 20px;
    padding: 0;
    float: left;
}

.b-mini-slide-inner {
    /* height: 95px; */
    border: 1px solid #ffffff;
    background: no-repeat 14px 30px;
    margin: 1px;
    padding: 15px 10px 20px 46px;
}

.slide-transfer {
    background-image: url(../img/icon-auto-red.png);
}

.slide-rails {
    background-image: url(../img/icon-train-red.png);
}

.b-mini-slide__title {
    font-size: 15px;
    color: #ef3f22;
    padding-bottom: 0;
}

.b-mini-slide p {
    font-size: 12px;
}

.b-banners {
    width: 690px;
    float: right;
}

.b-banners h2 {
    text-align: center;
}

.b-banners__item {
    display: inline-block;
    opacity: 0.2;
    text-decoration: none;
    margin: 0 0 16px 16px;
    /* padding: 0 0 0 16px; */
}

.b-banners__item:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

/* end b-book */

.ui-datepicker {
    z-index: 110 !important;
}

/* b-services-all */
.b-services-all ol {
    padding: 0 0 0 30px;
}

.b-services-all ol li {
    list-style-position: outside;
    padding: 0 0 5px 0;
}

.b-services-all .b-online-avia {
    text-transform: uppercase;
    margin-left: 0;
    float: left;
}

.b-services-all .b-online-avia .b-button {
    padding: 12px 30px 8px 30px;
}

.b-services-planes {
    width: 400px;
    height: 150px;
    position: relative;
    text-align: center;
    margin: 0 130px 0 0;
    float: right;
    z-index: 1000 !important;
}

.b-services-planes img {
    z-index: 1000 !important;
}

.b-services-all-list {
    width: 612px;
    height: 626px;
    background: url(../img/b-services-all-list.png) 0 0 no-repeat;
    padding: 24px 20px;
    float: right;
}

.b-services-all-list__item {
    width: 204px;
    height: 100px;
    background: #fafafa;
    /* margin: 0 5px 0 20px; */
    padding: 0;
    float: left;
    position: relative;
}

.b-services-all-list__item-inner {
    /* height: 95px; */
    /* border: 1px solid #ffffff; */
    /*background-position: 14px 15px;*/
    /*background-repeat: no-repeat;*/
    margin: 1px;
    padding: 0 0 20px 6px;
    width: 164px;
    float: left;
}

.b-services-all-list__item .pos-helper {
    position: absolute;
    top: -30px;
    left: -40px;
    z-index: 10;
}

.js-hovered .b-services-all-list__item-hover {
    display: block;
}

.b-services-all-list__item-hover {
    display: none;
    width: 315px;
    height: 170px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    background-position: 20px 25px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 72px;
}

.slide-trucking .b-services-all-list__item-hover {
    background-image: url(../img/icon-trucking-red-big.png);
}

.b-services-all-list__item-hover .b-link {
    text-decoration: none;
    font-weight: bold;
}

.b-services-all-list__item-hover .b-link:hover {
    text-decoration: underline;
}

.b-services-all-list__item-hover .b-link,
.b-services-all-list__item-hover .b-link:hover,
.b-services-all-list__item-hover .b-link:visited {
    color: #ef3f22;
}

.b-services-all-list__item-hover p {
    padding: 5px 0 20px 0 !important;
}

.b-services-all-list__title, a.b-services-all-list__title {
    font-weight: bold;
    font-size: 15px;
    color: #ef3f22;
    padding-bottom: 0px;
}

.b-services-all-list__item p {
    font-size: 12px;
    padding: 5px 0;
}

.slide-avia {
    background-image: url(../img/icon-plane-red.png);
}

.slide-trucking {
    background-image: url(../img/icon-truck-red.png);
}

.slide-mice {
    background-image: url(../img/icon-mice-red.png);
}

.slide-visa {
    background-image: url(../img/icon-visa-red.png);
}

.slide-charter {
    background-image: url(../img/icon-charter-red.png);
    background-position: 14px 20px;
}

.slide-vip {
    background-image: url(../img/icon-vip-red.png);
}

.slide-medical {
    background-image: url(../img/icon-medical-red.png);
}

.slide-med-insurance {
    background-image: url(../img/icon-med-insurance-red.png);
}

.slide-auto-insurance {
    background-image: url(../img/icon-auto-insurance-red.png);
}

.slide-mail-delivery {
    background-image: url(../img/icon-mail-delivery-red.png);
    background-position: 14px 16px;
}

.slide-ticket-delivery {
    background-image: url(../img/icon-ticket-delivery-red.png);
}

.slide-business-avia {
    background-image: url(../img/icon-business-avia-red.png);
    background-position: 14px 20px;
}

.slide-conference {
    background-image: url(../img/icon-conference-red.png);
}

.slide-implant {
    background-image: url(../img/icon-implant-red.png);
}

.slide-hotels {
    background-image: url(../img/icon-hotel-red.png);
}

/* end b-services-all */

/* b-services-contacts */
.b-services-contacts {
    width: 500px;
    min-height: 180px;
    padding: 35px 60px 66px 40px;
    float: right;
    /*margin-right: 90px;*/
}

.b-services-contacts ul {
    max-width: 270px;
    float: left;
    margin: 0 30px 0 0;
}

.b-services-contacts__item {
    font-size: 18px;
    padding-left: 30px;
    background-image: none;
}

.b-services__tel-code {
    font-size: 14px;
}

.b-services__phone {
    background: url(../img/icon-phone.png) 6px 0 no-repeat;
}

.b-services__mail {
    background: url(../img/icon-mail.png) 0 5px no-repeat;
}

.b-services__mail a {
    text-decoration: none;
}

.b-services__mail a:hover {
    text-decoration: underline;
}

.b-services__fax {
    background: url(../img/icon-fax.png) 0 0 no-repeat;
}

.b-services__address-all {
    font-size: 13px;
    /* background: url(../img/icon-marker.png) 9px 0 no-repeat; */
    background: url(../img/icon-marker-black.png) 6px 5px no-repeat;
    /* padding: 0 0 0 30px; */
}

.b-services-social {
    margin: 0;
}

.b-services-social__item {
    font-size: 14px;
    padding: 0 0 20px 25px;
}

.b-services-social a,
.b-services-social a:hover,
.b-services-social a:visited {
    color: #000000;
}

.b-services-social a,
.b-services-social a:visited {
    text-decoration: none;
}

.b-services-social a:hover {
    text-decoration: underline;
}

.b-services-social .facebook {
    background: url(../img/social-facebook-20x20.png) 0 0 no-repeat;
}

.b-services-social .twitter {
    background: url(../img/social-twitter-20x20.png) 0 0 no-repeat;
}

.b-services-social .vk {
    background: url(../img/social-vk-20x20.png) 0 0 no-repeat;
}

.b-services-social .odnoklassniki {
    background: url(../img/social-odnoklassniki-20x20.png) 0 0 no-repeat;
}

.b-services-social .mailru {
    background: url(../img/social-mailru-20x20.png) 0 0 no-repeat;
}

.b-services-boxes {
    width: 570px;
    /*height: 513px;*/
    text-align: center;
    margin: 0 0 0 0;
    float: right;
    z-index: 2;
    position: relative;
}

/* main-slider */
.b-main-slider {
    height: 417px;
    max-width: 1300px;
    background: url(../img/main-slider-bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

.b-main-slider__item {
    float: left;
    width: 996px;
    background-image: none;
    padding: 0 0 0 0;
    position: relative;
}

.js-image-slider {
    position: relative;
    overflow: hidden;
    width: 890px;
    margin: 0 auto;
}

.b-slides-markers {
    position: absolute;
    bottom: 54px;
    left: -4px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.b-slider-image {
    float: right;
    margin: 0 0 0 0;
}

.b-slider-text {
    margin: 0 0 0 0;
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 250px;
    font-size: 22px;
    color: #fff;
    font-family: 'PT Sans Bold';
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0 15px 0 0;
    background-image: url(../img/main-slider/slider-arrow.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.b-slides-markers__item {
    float: left;
    list-style: none;
    color: transparent;
}

.b-slides-markers__item a {
    color: transparent;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/main-slider/slide-control.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.b-slides-markers_active a {
    background-image: url(../img/main-slider/slide-control-active.png);
}

/* end main-slider */

/* timetable */
.b-timetable {
    padding: 0 0 115px 0;
}

.b-timetable__table-top {
    /* width: 100%; */
    background: #f3f3f9;
    padding: 10px 0 0 10px;
}

.b-timetable__table-top .b-timetable__icon {
    padding-left: 0;
    float: left;
}

.yandex-raspisanie {
    display: block;
    width: 154px;
    height: 16px;
    background: url(../img/yandex-raspisanie.png) 0 0 no-repeat;
    margin: 5px 8px 0 0;
    float: right;
}

.b-timetable__table-top__city {
    display: inline-block;
    padding: 13px 0 11px 0;
}

.b-timetable__table-top__city a {
    font-size: 14px;
}

.b-timetable-buttons {
    display: inline-block;
    padding: 0 0 8px 0;
}

.b-timetable-buttons a {
    display: inline-block;
    line-height: 17px;
    background: url(../img/b-timetable-top-button.png) 0 0 repeat-x;
    border: 1px solid #adadb1;
    margin: 0 0 0 -3px;
    padding: 0 10px;
}

.b-timetable-buttons a,
.b-timetable-buttons a:hover,
.b-timetable-buttons a:visited {
    text-decoration: none;
}

.b-timetable-buttons .js-selected {
    color: #999999;
    background: url(../img/b-timetable-top-button-selected.png) 0 0 repeat-x;
    border: 1px solid #9e967e;
}

.b-timetable__table-top .b-timetable__localtime {
    width: 114px;
    background: url(../img/icon-clock.png) 0 60% no-repeat;
    padding: 0 0 0 10px;
}

.b-timetable__table-top .b-timetable__schedule {
    width: 125px;
    color: #999999;
}

.b-timetable__table-top .b-timetable__expect {
    width: 150px;
    color: #999999;
}

.b-timetable__table {
    width: 100%;
}

.b-timetable__table thead,
.b-timetable__table tfoot {
    background: #f3f3f9;
}

.b-timetable__table tbody tr:nth-child(even) {
    background: #f3f3f9;
}

.b-timetable__icon {
    width: 24px;
    padding: 0 0 0 10px;
}

.b-timetable__code {
    width: 57px;
    color: #999999;
}

.b-timetable__localtime {
    width: 114px;
}

.b-timetable__schedule {
    width: 112px;
}

.b-timetable__expect {
    width: 148px;
    color: #999999;
}

.b-timetable__table .avia-company {
    color: #999999;
}

.b-timetable__table-bottom {
    /* width: 100%; */
    height: 34px;
    line-height: 34px;
    background: #f3f3f9;
    padding: 0 0 0 10px;
}

/* end timetable */

/* b-contacts */
.b-contacts {
    padding: 0 0 80px 0;
}

.b-contacts__sidemenu {
    width: 250px;
    background: #3f373c;
    border-radius: 5px;
    padding: 20px 10px 15px 10px;
    float: left;
}

.b-sidemenu__item {
    background-image: none;
    padding: 0 0 9px 0;
}

.b-contacts__sidemenu .js-selected {
    /* background: #e23c20; */
    background: url(../img/b-sidemenu__selected.png) 0 0 no-repeat;
}

.b-contacts__sidemenu .js-selected a:hover {
    text-decoration: none;
}

.b-sidemenu__item a,
.b-sidemenu__item a:hover,
.b-sidemenu__item a:visited {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    padding: 0 20px;
}

.b-sidemenu__item a:hover {
    text-decoration: underline;
}

.b-contacts__office {
    width: 445px;
    padding: 15px 50px 30px 20px;
    float: left;
    display: inline-block;
    min-height: 313px;
}

.b-contacts__office__title {
    text-transform: none !important;
    font-size: 18px;
    color: #3f373c;
    padding-bottom: 20px;
}

.b-contacts__office p {
    font-size: 13px;
    color: #666666;
    padding-bottom: 20px;
}

.regime {
    display: inline-block;
    width: 93px;
    height: 9px;
}

.regime-1 {
    background: url(../img/regime-1.png) 0 0 no-repeat;
}

.b-contacts-list__item {
    font-size: 18px;
    padding-left: 30px;
    background-image: none;
}

.b-contacts__tel-code {
    font-size: 14px;
}

.b-contacts__phone {
    background: url(../img/icon-phone.png) 6px 0 no-repeat;
}

.b-contacts__mail {
    background: url(../img/icon-mail.png) 0 0 no-repeat;
}

.b-contacts__fax {
    background: url(../img/icon-fax.png) 0 0 no-repeat;
}

.b-contacts__address-all {
    font-size: 13px;
    background: url(../img/icon-marker.png) 9px 0 no-repeat;
    padding: 0 0 0 24px;
}

.b-contacts__address-all a,
.b-contacts__address-all a:hover,
.b-contacts__address-all a:visited {
    text-decoration: none;
    color: #ef3f22;
}

.b-contacts__social {
    width: 357px;
    height: 197px;
    background: url(../img/b-contacts__social.png) 0 0 no-repeat;
    margin: 0 -15px 0 0;
    padding: 29px 0 0 33px;
    float: left;
}

.b-contacts__social__title {
    text-transform: none !important;
    font-size: 18px;
    padding: 0 0 15px 0;
}

.b-contacts__social__item {
    font-size: 12px;
    padding: 0 0 20px 25px;
}

.b-contacts__social a,
.b-contacts__social a:hover,
.b-contacts__social a:visited {
    color: #000000;
}

.b-contacts__social a,
.b-contacts__social a:visited {
    text-decoration: none;
}

.b-contacts__social a:hover {
    text-decoration: underline;
}

.b-contacts__social .facebook {
    background: url(../img/social-facebook-20x20.png) 0 0 no-repeat;
}

.b-contacts__social .twitter {
    background: url(../img/social-twitter-20x20.png) 0 0 no-repeat;
}

.b-contacts__social .vk {
    background: url(../img/social-vk-20x20.png) 0 0 no-repeat;
}

.b-contacts__social .odnoklassniki {
    background: url(../img/social-odnoklassniki-20x20.png) 0 0 no-repeat;
}

.b-all-offices-link {
    width: 370px;
    height: 100px;
    text-align: center;
    background: url(../img/b-all-offices-link.png) 50% 0 no-repeat;
    margin: -20px 0 0 0;
    padding: 64px 0 0 0;
    float: left;
}

.b-all-offices-link,
.b-all-offices-link a,
.b-all-offices-link a:hover,
.b-all-offices-link a:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    color: #ef3f22;
}

.b-all-offices-link span {
    background: url(../img/icon-marker.png) 0 3px no-repeat;
    padding: 0 0 0 15px;
}

.b-contacts__banner {
    width: 190px;
    margin: 55px 0 0 38px;
}

.b-banner-representation {
    padding: 0 0 110px 0;
}

.b-contacts-representation {
    max-width: 870px !important;

}

.b-contacts-representation .b-representation__map {
    margin-right: 130px;
}

/* end b-contacts */

/* b-tour-full */
.b-tour-left-col p {
    padding: 0 0 8px 0;
}

.b-tour-geography {
}

.b-tour-geography__title {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #3f373c;
}

.b-country-list {
    width: 30%;
    float: left;
}

.b-country-list__item {
    font-size: 13px;
    color: #3f373c;
    background-image: none;
    padding: 0 0 11px 0;
}

.b-country-list__item a,
.b-country-list__item a:hover,
.b-country-list__item a:visited {
    font-size: 13px;
    color: #3f373c;
}

.b-tour-collection__title {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #3f373c;
}

.b-tour-collection-list {
    display: inline-block;
    padding: 0 50px 0 0;
    float: left;
}

.b-tour-collection-list__item {
    font-size: 13px;
    color: #3f373c;
    background-image: none;
    padding: 0 0 11px 0;
}

.b-tour-collection-list__item a,
.b-tour-collection-list__item a:hover,
.b-tour-collection-list__item a:visited {
    font-size: 13px;
    color: #3f373c;
}

.b-tour-search {
    margin: 0 0 30px 0;
}

.b-tour-search__title {
    text-transform: uppercase;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    color: #3f373c;
}

.b-tour-search__button {
    border: 1px dashed #222222;
    border-radius: 5px;
    margin: 65px 0 0 0;
    padding: 30px;
    position: relative;
}

.b-tour-search__button .b-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 35px;
}

.b-tour-search__button .b-button:hover {
    opacity: .8;
}

.b-tour-search__button .b-button,
.b-tour-search__button .b-button:hover,
.b-tour-search__button .b-button:visited {
    color: #ffffff;
}

.b-tour-search__img {
    width: 145px;
    height: 175px;
    background: url(../img/b-tour-search__img.png) 0 0 no-repeat;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.b-tour-full .b-item-select-short,
.b-tour-full .b-item-select-short .jq-selectbox {
    width: 112px;
}

.b-tour-full .b-online {
    margin-bottom: 60px;
}

.b-tour-right-col {
    width: 685px;
    float: right;
}

.b-tour-right-col .b-rails-offices {
    min-height: 580px;
    float: left;
}

.b-tour-right-col .b-rails-offices-inner {
    padding-right: 25px !important;
}

.b-tour-right-col .b-office-contacts__item {
    width: 300px;
}

.b-tour__social {
    width: 262px;
    background-image: url(../img/b-tour__social.png);
    margin: 0 -5px 0 0;
    float: right;
}

.b-tour__banner {
    margin: 40px 45px 0 45px;
}

/* end b-tour-full */

.b-online__form .b-partners {
    width: 100%;
    float: none;
}

/* b-online-popup */
.b-online-popup-inner {
    width: 755px;
    background: #fafafa;
    margin: 0 auto;
    padding: 0 20px;
}

.b-online-popup__form h2 {
    text-transform: none;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    padding: 15px 0;
}

.b-online-popup .b-row .b-item {
    margin: 0 10px 0 0;
    padding-bottom: 15px;
}

.b-online-popup .b-row .b-item:last-child {
    margin-right: 0;
}

.b-online-popup .b-input,
.b-online-popup .b-item .jq-selectbox {
    width: 355px;
}

.b-online-popup .b-item-select-supershort .jq-selectbox {
    width: 64px;
    margin-right: 10px;
    margin-left: 10px;
}

.b-online-popup .b-item-select-short .jq-selectbox {
    width: 164px;
    margin-right: 25px;
}

.b-checkbox-group-left {
    width: 260px;
    float: left;
}

.b-checkbox-group-left .b-checkbox-list {
    width: 100%;
    display: block;
    margin-bottom: 25px;
}

.b-checkbox-group-left .b-checkbox-list:last-child {
    margin-bottom: 10px;
}

.b-checkbox-group-right {
    width: 470px;
    float: right;
}

.scroll-block .b-item {
    width: 363px;
    padding: 0 29px 0 0;
    float: none;
}

.b-checkbox-group-right .b-input {
    width: 300px;
}

.b-checkbox-group-right .b-input__text {
    width: 280px;
}

.b-checkbox-group-right .b-item-checkbox-short {
    width: 120px;
    margin-right: 0 !important;
    padding-top: 30px;
    padding-right: 0;
}

.b-checkbox-group__hotels {
    padding: 20px 10px 20px 20px;
    width: 400px;
    border: 1px dashed #323232;
}

.b-checkbox-group__hotels-inner {
    width: 400px;
    height: 135px;
    overflow: hidden;
    position: relative;
}

.b-row-checkbox-horiz .b-checkbox-list {
    padding-top: 25px;
    padding-right: 0;
}

.b-row-checkbox-horiz .b-checkbox-list__item {
    display: inline-block;
    padding-right: 25px;
}

.b-online-popup .b-item-submit {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.b-online-popup .b-item-submit .b-button {
    text-transform: uppercase;
    padding: 0 75px;
}

/* b-online-popup */

.col {
clear: both!important;
width: 700px;
padding: 5px 0px!important;
}
.col inpsut {
position: static!important;
padding: 12px;
border-radius: 7px;
border: 2px solid #DDD;
margin: 0px 2px;
}

.addr {
text-decoration: none;
color: #EF3F22!important;
border-bottom: 1px dashed #EF3F22;
}

.addr:hover{
border-bottom: 0px;
}

#addcitydiv {
padding: 10px;
display: block;
width: 680px;
}
#online-form-flight{
background: url("../img/ttop.png") no-repeat center top;
padding: 25px 0px 25px 3px!important;
height: auto!important;
}

.flinn{
background: url("../img/tbot.png") no-repeat -4px bottom;
padding-bottom: 105px;
}

.flinin{
background: url("../img/tmid.png") repeat-y center top;
}




/***************************/

.brow {
width: 278px;
height: 38px;
line-height: 38px;
background-color: #FFF;
border: 1px solid #E8E6E0;
border-radius: 5px;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
position: relative;
float: left;
}

.brow input {
width: 120px;
padding: 8px;
}

.b-multi-input__date {
background: url(../img/datepicker-icon.png) 110px center no-repeat;
}


.sr_type {
float: left;
width: 120px;
height: 34px;
padding: 3px 0;
background-color: #938990;
border-radius: 5px;
margin: 0 17px;
}

.sr_type a {
display: block;
width: 40px;
height: 40px;
float: left;
}

.oneway{
background: url(../img/one-way.png) 9px 8px no-repeat;
}

.roundtrip{
background: url(../img/two-way.png) 9px 5px no-repeat;
}

.multicity{
background: url(../img/hz-ticket.png) 9px 5px no-repeat;
}

.col  .b-plane-buttons span {
background: url(../img/hz-ticket.png) center -29px no-repeat;
display: block;
width: 100%;
height: 40px;
}

.col .b-plane-buttons {
margin: 0px 10px;
background: none;
}


.b-plane-buttons span{
display: block;
width: 40px;
height: 38px;
float: left;
cursor: pointer;
}


.oneway.selected{
background-position: 9px -32px!important
}

.roundtrip.selected, .multicity.selected{
background-position: 9px -28px!important;
}


#addcitydiv{
display: none;
}
.x {
position: absolute;
margin-left: 2px;
cursor: pointer;
color: #EF3F22!important;
}