<li class="b-mini-slide">
    <div class="b-mini-slide-inner slide-hotels">
        <h3 class="b-mini-slide__title">
            <a href="{{ path('trans_page_service_sub_page',{'slug':page.slug}) }}">
                {{ page.title }}
            </a>
        </h3>
        <a href="{{ path('trans_page_service_sub_page',{'slug':page.slug}) }}">
            {{ page.announcement|raw }}
        </a>
    </div>
</li>