<li class="b-services-all-list__item">
    <div class="b-services-all-list__image">
        {% block icon %}
            {% media icon, 'small' %}
        {% endblock %}
    </div>

    <div class="b-services-all-list__item-inner">
        <h3 class="b-services-all-list__title">
            <a class="b-services-all-list__title" href="{{ link }}">
                {{ title }}
            </a>
        </h3>

        <p>
            {{ announcement }}
        </p>
        {#{{ include('@TransPage/Slider/_slider_popup.html.twig') }}#}
    </div>
</li>