<div class="pos-helper">
    <div class="b-services-all-list__item-hover">
        <h3 class="b-services-all-list__title">
            {{ slide.announcement }}
        </h3>

        <p>
            {{ slide.content|raw }}
        </p>
        <a class="red b-link" href="#">смотреть подробнее...</a>
    </div>
</div>