<div class="b-mini-slider">
    {#<a class="b-mini-slider-prev" href="#"></a>#}
    {#<a class="b-mini-slider-next" href="#"></a>#}
    <ul>
        {% if left %}
            {% include '@TransPage/Slider/_mini_sllider_item.html.twig' with {'page':left} %}
        {% endif %}
        {% if right %}
            {% include '@TransPage/Slider/_mini_sllider_item.html.twig' with {'page':right} %}
        {% endif %}
    </ul>
    <div class="clear"></div>
</div>