<div class="b-services-all-list">

    <ul>
        {% include '@TransPage/Slider/_service_grey_custom_item.html.twig' with {'icon':asset('public/img/icon-train-red.png'),'announcement':'service.announcement.train'|trans,'link':path('order_train_new'),'title':'service.title.train'|trans} %}
        {% include '@TransPage/Slider/_service_grey_custom_item.html.twig' with {'icon':asset('public/img/icon-hotel-red.png'),'announcement':'service.announcement.hotel'|trans,'link':path('trans_hotel_homepage'),'title':'service.title.hotel'|trans} %}

        {% for slide in slides %}
            {% include '@TransPage/Slider/_service_gray_item.html.twig' with { 'icon':slide.icon, 'announcement':slide.announcement, 'link':path('trans_page_service_sub_page',{'slug':slide.slug}), 'title':slide.title } %}
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>