{% extends 'TransTicketBundle::message_layout.html.twig' %}
{% block body %}
    Ф.И.О: {{ flight.name }}
    Оплата: {{ flight.payment }}
    Год рождения: {{ flight.birthday|date("d-m-Y") }}
    Пункт назначения: {{ flight.destinationPoint|default("~") }}
    Предполагаемая дата вылета: {{ flight.checkout|date("d-m-Y") }}
    Предполагаемая дата возвращения: {{ flight.checkout|date("d-m-Y") }}
    Класс билета:
    {% if flight.classAny %} - Не важно {% endif %}
    {% if flight.classEconomy %} - Економ класс {% endif %}
    {% if flight.classBusiness %} - Бизнес класс {% endif %}
    {% if flight.classFirst %} - Первый класс {% endif %}

    * {% if flight.cheapest %} Ищу самый дешевый вариант {% endif %}
    * {% if flight.roundTrip %} Туда и обратно {% endif %}
    Удобное время для звонка: {{ flight.callTime }}
    Почтовый адрес: {{ flight.email }}
    Телефон: {{ flight.telephone }}
    Название компании: {{ flight.company }}

    Категория пассажиров
    {% if flight.passInfant %}  - Ребенок 0-2 года {% endif %}
    {% if flight.passChildren %} - Ребенок 2-12 лет {% endif %}
    {% if flight.passYoung %} - Молодежь 12-26 лет {% endif %}
    {% if flight.passAdult %} - Взрослый {% endif %}
    {% if flight.passRetired %} - Пенсионер {% endif %}
{% endblock %}