{% extends '::base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.payment) }}
    {{ form_row(form.orderType) }}
    {{ form_row(form.checkOut) }}
    {{ form_row(form.checkIn) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.birthday) }}

    {{ form_row(form.classAny) }}
    {{ form_row(form.classEconomy) }}
    {{ form_row(form.classBusiness) }}
    {{ form_row(form.classFirst) }}

    {{ form_row(form.callTime) }}
    {{ form_row(form.departurePoint) }}
    {{ form_row(form.destinationPoint) }}
    {{ form_row(form.company) }}
    {{ form_row(form.cheapest) }}
    {{ form_row(form.roundTrip) }}

    {{ form_row(form.passInfant) }}
    {{ form_row(form.passChildren) }}
    {{ form_row(form.passYoung) }}
    {{ form_row(form.passAdult) }}
    {{ form_row(form.passRetired) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}