{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-about">
        <div class="b-about__text">
            <h2>
                {{ page.title }}
            </h2>
            {{ page.content|raw }}
        </div>
        <!-- b-about__text -->
        <div class="b-about__partners-online">
            <div class="b-online-avia">
                <a class="b-button" href="{{ path('trans_main_homepage') }}">
                    {{ 'Find tickets' |trans }}
                </a>
            </div>
            <!-- b-online-avia -->

            <!-- <div class="clear"></div> -->

            {% include "::partners.html.twig" %}
            <!-- partners -->
        </div>
        <!-- b-about__partners-online -->
        <div class="clear"></div>
    </div> <!-- b-about -->


    {{ include('TransPartialBundle::slogans.html.twig') }}


    <div class="row b-advantages">
        <h2>
            ПРЕИМУЩЕСТВА НАШЕЙ КОМПАНИИ:
        </h2>

        <div class="b-advantages-col">
            <p>
                Клиенты нашей компании могут всегда рассчитывать на оперативность и профессионализм наших сотрудников,
                достигая как существенной экономии времени при организации деловых поездок и отдыха для Ваших
                сотрудников, так и экономии бюджета Вашей компании.
            </p>

            <ul>
                <li>
                    Устойчивая репутация. Успешное обслуживание клиентов с 2000г.
                </li>
                <li>
                    Широкий спектр предложений
                </li>
                <li>
                    Признание
                </li>
                <li>
                    Прямые договора с авиакомпаниями, гостиницами, ж/д перевозчиками, страховыми компаниями и другими
                    производителями услуг
                </li>
                <li>
                    Генеральное агентство и представительство авиакомпаний
                </li>
                <li>
                    Мы являемся частью международной сети агентств Lufthansa City Center и предоставляем сервис для
                    наших клиентов в соответствии с международными стандартами качества обслуживания
                </li>
                <li>
                    Нам доверяют более 500 международных и местных компаний
                </li>
            </ul>
        </div>
        <!-- b-advantages-col -->


        <div class="b-advantages-col">
            <ul>
                <li>
                    Высококвалифицированные специалисты. Более 200 профессионалов и экспертов индустрии туристических
                    услуг, 40 из них соответствуют строгим требованием IATA
                </li>
                <li>
                    Оперативность в работе и индивидуальный подход к каждому клиенту;
                </li>
                <li>
                    Надежность
                </li>
                <li>
                    Масштабность: 30 офисов в 18 городах Казахстана, также офисы в СНГ (Киеве, Минске и Бишкеке)
                </li>
                <li>
                    Лучшие цены и оперативность решения любых вопросов
                </li>
                <li>
                    Удобные способы оплаты. Наши клиенты могут оплатить тур или другую услугу удобным для них способом:
                    за наличный расчет, через банковский расчетный счет, кредитной картой (Visa, Mastercard, American
                    Express), а также они имеют возможность купить тур В КРЕДИТ.
                </li>
                <li>
                    На связи 24/7. Круглосуточная служба поддержки клиентов
                </li>
                <li>
                    Вас обслуживают квалифицированные Online-консультанты!
                </li>
                <li>
                    На нашем сайте Вы можете приобрести авиабилеты онлайн по самым низким ценам и оплатить в 19 городах
                    Казахстана.
                </li>
            </ul>
        </div>
        <!-- b-advantages-col -->

        <div class="clear"></div>
    </div> <!-- b-advantages -->


    <div class="row b-company-full">
        <div class="b-company">
            <h2 class="b-company__title">
                <img alt="" src="{{ asset('public/img/lufthansa-logo.png') }}">
            </h2>

            <div class="b-company__image">
                <img alt="" src="{{ asset('public/img/company-lufthansa-img.png') }}">

            </div>
            <!-- b-company__image -->
            <div class="b-company__image-buff"></div>
        </div>
        <!-- b-company -->


        <div class="b-company-text">
            <p>
                Люфтганза Сити Центр - это крупнейшее турагентство своего рода в мире: Мироваяфранчайзинговая компания,
                Люфтганза Сити Центр, сочетает гибкость и компетентность с экономически независимыми предпринимателями в
                пределах сильного бренда. Мировая сеть Люфтганза Сити Центр насчитывает сейчас более 630 офисов в 84
                странах и ее мировой оборот составляет более 5 миллиардоа евро. С момента появления на рынке в 1991 г.
                Люфтганза Сити Центр стала одной из самых быстро растущих сетей турагентств в мире. Ключевым фактором
                успеха нынешней значительной сети является сильная концепция франчайзинга Люфтганза Сити Центр, которая
                отвечает всем требованиям постоянно меняющихся условий. Как частным, так и корпоративным клиентам, офисы
                Люфтганза Сити Центр по всему миру предлагают единообразные услуги, отражающие стремление бренда
                Люфтганза Сити Центр к качеству. Именно знания и компетентность офисов по всему миру на местах является
                отличительной чертой Люфтганза Сити Центр: Мы гордимся тем, что не только понимаем язык наших клиентов,
                но и ценим культуру, привычки, региональные и национальные экономические различия и знаем настоящие
                потребности нашей клиентуры.
                <a class="red link-more" href="{{ path('trans_page_about_lufthansa') }}">узнать подробнее</a>
            </p>
        </div>
        <!-- b-company-text -->

        <div class="clear"></div>
    </div> <!-- row -->
{% endblock %}