{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-company-full">
        <div class="b-company">
            <h2 class="b-company__title">
                <img alt="" src="{{ asset('public/img/lufthansa-logo.png') }}">
            </h2>

            <div class="b-company__image">
                <img alt="" src="{{ asset('public/img/company-lufthansa-img.png') }}">
            </div>
            <!-- b-company__image -->
            <div class="b-company__image-buff"></div>

            {{ partial('lufthansa_page_left_content')|raw }}
        </div>
        <!-- b-company -->


        <div class="b-company-text">
            {{ partial('lufthansa_page')|raw }}
        </div>
        <!-- b-company-text -->

        <div class="clear"></div>
    </div> <!-- row -->
{% endblock %}