{% if articles|length %}
{% for columnIndex in 0..articles|length-1 %}
    <div class="b-two-col__col {% if loop.last %} {{ 'b-two-col__col' }} {% endif %} b-news-list"
         id="news-column-{{ columnIndex + 1 }}">
        <ul>
            <li class="b-news-list__item">
                {{ include('@TransPage/Page/_announcement.html.twig', { article : articles[columnIndex] }) }}
            </li>
        </ul>
    </div>
{% endfor %}
{% endif %}