<div class="b-news-full__two-banners">
    <div class="b-two-col__col">
        <a href="http://v.transavia-travel.kz/" target="_blank">
            <img alt="" src="{{ asset('public/img/banner-visa.jpg') }}">
        </a>
    </div>
    <div class="b-two-col__col b-two-col__col-last">
        <img class="b-banner" alt="" src="{{ asset('public/img/banner-2.png') }}"/>
    </div>
    <div class="clear"></div>
</div>