<div class="b-news-post b-info-post">
    <h2 class="b-news-post__title">
        {{ article.title }}
    </h2>

    <div class="b-date">
        {{ article.created|date('d M Y в H:i') }}
    </div>

    {{ article.content|raw }}
</div>



