{% extends '::base.html.twig' %}

{% block body %}
    <div class="row b-news-full b-info-full">

        {{ include('@TransPage/PageArticle/_post.html.twig', { article: article }) }}

        <div class="b-two-col">

            {{ include('@TransPage/PageArticle/_articles.html.twig', { articles: articles }) }}

            <div class="clear"></div>

            {{ include('@TransPage/PageArticle/_banners.html.twig') }}

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>

    {{ include('TransPartialBundle::slogans.html.twig') }}

{% endblock %}