{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-partners-page">
        <h2 class="b-partners__title">
            {{ 'our partners'|trans }}
        </h2>

        <p class="b-partners__text">
            {{ 'partners.text'|trans }}
        </p>

        <div class="b-partners-list">
            <ul>

                {% for partner in partners %}
                    <li class="b-partners-list__item">
                        <div class="b-partner-image b-image-frame">
                            <a href="{{ path('trans_partner_show',{'partner':partner.id}) }}">
                                {% thumbnail partner.media, 'small' %}
                            </a>
                        </div>
                        <!-- b-partner-image -->

                        <div class="b-partner-description">
                            <a href="{{ path('trans_partner_show',{'partner':partner.id}) }}"> {{ partner.shortDescription|raw }}</a>
                            <p>
                                <a href="{{ partner.url }}" target="_blank">{{ partner.url }}</a>
                            </p>
                        </div>
                        <!-- b-partner-description -->

                        <div class="clear"></div>
                    </li>
                {% endfor %}
            </ul>

            <div class="clear"></div>
        </div>
        <!-- b-partners-list -->

        <div class="clear"></div>
    </div> <!-- b-partners-page -->

    {{ include('@TransPartial/slogans.html.twig') }}

{% endblock %}