<h2>{{ 'Registration'|trans }}</h2>
<div class="b-partners">
    <ul>
        <li>
            {{ partial('partners-register')|raw }}
        </li>
    </ul>
    <div class="clear"></div>
</div> <!-- partners -->