{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-hotel">
        <h2>
            {{ partner.name}}
        </h2>
    </div>
    <div class="row b-hotel b-book">
        <div class="b-partner-full">
            <div class="b-partner-full-image">
                {% thumbnail partner.media, 'small' %}
            </div>


            {{ partner.content|raw }}
        </div>
        <div class="b-banner">
            <a href="http://v.transavia-travel.kz/" target="_blank">
                <img alt="" src="{{ asset('public/img/banner-visa.jpg') }}">
            </a>
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% include '@TransPartial/slogans.html.twig' %}
    <div class="clear"></div>
{% endblock %}