{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent.children[0].id != object.id %}
            <a href="{{ path('admin_trans_page_tree_up', {'page_id': object.id}) }}">
                <img src="{{ asset('public/icons/move_up.png') }}" alt="{% trans %}Вверх{% endtrans %}"/>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}