{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent.children[object.parent.children|length - 1].id != object.id %}
            <a href="{{ path('admin_trans_page_tree_down', {'page_id': object.id}) }}">
                <img src="{{ asset('public/icons/move_down.png') }}" alt="{% trans %}Вниз{% endtrans %}"/>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}