
    <h2>{{ 't.book.hotel'|trans }}</h2>
    {{ form_start(form) }}
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <h3>{{ flashMessage |trans }}</h3>
    {% endfor %}
    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.name) }}:
            </div>
            <!-- b-label -->
            <div class="b-input">
                {{ form_widget(form.name) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
        <div class="clear"></div>
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.telephone) }}:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                {{ form_widget(form.telephone) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.email) }}:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short">
                {{ form_widget(form.email) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.checkOut) }}:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short b-input-short-datepicker">
                {{ form_widget(form.checkOut) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.checkIn) }}:
            </div>
            <!-- b-label -->
            <div class="b-input b-input-short b-input-short-datepicker">
                {{ form_widget(form.checkIn) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="b-row">
        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.city) }}:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                {{ form_widget(form.city) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->


        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.placement) }}:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                {{ form_widget(form.placement) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
    </div>


    <div class="clear"></div>

    <div class="b-row b-passanger-number">
        <div class="b-item">
            <div class="b-label">
                {{ form_label(form.category) }}:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                {{ form_widget(form.category) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->

        <div class="b-item">
            <div class="pull-left">
                <div class="b-label">
                    {{ form_label(form.adults) }}:
                </div>
                <div class="input">
                    {{ form_widget(form.adults) }}
                </div>
            </div>
            <!-- item -->

            <div class="pull-left">
                <div class="b-label">
                    {{ form_label(form.children) }}:
                </div>
                <div class="input">
                    {{ form_widget(form.children) }}
                </div>
            </div>
            <!-- item -->


            <div class="b-item-select-short pull-right">
            <div class="b-label">
                {{ form_label(form.childrenAge) }}:
            </div>
            <!-- b-label -->
            <div class="b-select b-select-292">
                {{ form_widget(form.childrenAge) }}
            </div>
            <!-- b-input -->
        </div>
        <!-- item -->
        </div>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <div class="b-item b-item-submit text-center">
        {{ form_row(form.submit,{'label': 'p.hotel.submit'|trans}) }}
    </div>
    <!-- item -->
    {{ form_end(form) }}