{% extends 'TransTicketBundle::message_layout.html.twig' %}
{% block body %}
    Ф.И.О: {{ hotel.name }}
    Телефон: {{ hotel.telephone }}
    Почтовый адрес: {{ hotel.email }}
    Город: {{ hotel.city }}
    Дата заезд: {{ hotel.checkOut|date("d-m-Y") }}
    Дата выезда: {{ hotel.checkIn|date("d-m-Y") }}
    Категория гостиницы: {{ hotel.category }}
    Размещение: {{ hotel.placement }}
    Дети: {{ hotel.children }} Возраст: {{ hotel.childrenAge }}
    Взрослые: {{ hotel.adults }}
{% endblock %}