<div class="b-online">
    <div class="b-online-inner">
        <div class="b-online__form">
            {% include '@TransTicket/OrderHotel/form.html.twig' %}
        </div>
    </div>
    <!-- online-inner -->
</div> <!-- online -->