<div class="b-four-col__col b-news-list__item">
    <div class="b-news-list__item__inner">
        <h2 class="b-news-list__item__title">
            <a href="{{ path(route,{'id': n.id}) }}">
                {{ n.title }}
            </a>
        </h2>

        <div class="b-news-list__item__img-frame">
            {% thumbnail n.media, 'small' %}
        </div>

        <div class="b-date b-news-list__item__date">
            {{ n.createdAt|date('d M Y в H:i') }}
        </div>
        <!-- b-date -->

        <div class="b-news-list__item__text">
            {{ n.shortDescription |raw }}
        </div>
        <!-- b-news-list__item__text -->
    </div>
    <!-- b-news-list__item-inner -->
    <div class="clear"></div>
</div>