{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/masonry.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/transnews/js/news.js') }}" type="text/javascript"></script>
{% endblock javascripts %}

{% block body %}
    <div class="row">
        <div class="b-four-col" id="container">
            {% for n in news %}
                {% include "TransNewsBundle:News:_newsItem.html.twig" with {'n' : n, 'index' : loop.index,'route':'trans_news_news'} %}
            {% endfor %}
        </div> <!-- b-four-col -->
        <div class="clear"></div>

        <div class="b-news-more-button">
            <a class="b-button" href="javascript:void(0);" data-page="2" id="load-more-news">{{ 'more'|trans }}</a>
        </div>
    </div> <!-- row -->
{% endblock %}