<div class="b-news-main b-news-main-col">
    <h2>{{ 'News'|trans }}</h2>

    <div class="news-latest">
        <ul>
            {% for n in news %}
                <li class="b-news-main__item">
                    <div class="b-date">{{ n.createdAt|date('d / m / Y') }}</div>
                    <div class="b-news-main__item-text">
                        <a href="{{ path('trans_news_news',{'id': n.id}) }}">
                            {{ n.title }}
                        </a>
                    </div>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="b-news-control">
        <a class="b-news-control__up" href="#"></a>
        <a class="b-news-control__down" href="#"></a>
    </div>
</div>
