{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-news-full">
        <div class="b-news-post">
            <h2 class="b-news-post__title">
                {{ news.title|raw }}
            </h2>

            <div class="b-date">
                {{ news.createdAt|date('d M  Y в H:i') }}
            </div>
            <!-- b-date -->
            {{ news.shortDescription|raw }}
            {{ news.fullDescription|raw }}
        </div>
        <!-- b-news-post -->


        <div class="b-two-col">
            {% if newsNot %}
                <div class="b-two-col__col b-news-list">
                    <ul>
                        <li class="b-news-list__item">
                            <div class="b-news-list__item__inner">
                                <h2 class="b-news-list__item__title">
                                    <a href="{{ path('trans_news_news',{'id': newsNot[0].id}) }}">
                                        {{ newsNot[0].title }}
                                    </a>
                                </h2>

                                <div class="b-news-list__item__img-frame">
                                    {% thumbnail newsNot[0].media, 'small' %}
                                </div>

                                <div class="b-date b-news-list__item__date">
                                    {{ newsNot[0].createdAt|date('d M Y в H:i') }}
                                </div>
                                <!-- b-date -->

                                <div class="b-news-list__item__text">
                                    {{ newsNot[0].shortDescription|raw }}
                                </div>
                                <!-- b-news-list__item__text -->
                            </div>
                            <!-- b-news-list__item-inner -->
                        </li>
                    </ul>
                </div>
                <!-- b-news-list -->
            {% endif %}


            {% if newsNot|length >1 %}
                <div class="b-two-col__col b-two-col__col b-news-list">
                    <ul>
                        <li class="b-news-list__item">
                            <div class="b-news-list__item__inner">
                                <h2 class="b-news-list__item__title">
                                    <a href="{{ path('trans_news_news',{'id': newsNot[1].id }) }}">
                                        {{ newsNot[1].title }}
                                    </a>
                                </h2>

                                <div class="b-news-list__item__img-frame">
                                    {% thumbnail newsNot[1].media, 'small' %}
                                </div>

                                <div class="b-date b-news-list__item__date">
                                    {{ newsNot[1].createdAt|date('d M Y в H:i') }}
                                </div>
                                <!-- b-date -->

                                <div class="b-news-list__item__text">
                                    {{ newsNot[1].shortDescription }}
                                </div>
                                <!-- b-news-list__item__text -->
                            </div>
                            <!-- b-news-list__item-inner -->
                        </li>
                    </ul>
                </div>
                <!-- b-news-list -->
            {% endif %}
            <div class="clear"></div>

            <div class="b-news-full__two-banners">
                <div class="b-two-col__col">
                    <a href="http://v.transavia-travel.kz/" target="_blank">
                        <img alt="" src="{{ asset('public/img/banner-visa.jpg') }}">
                    </a>
                </div>
                <!-- b-banner -->

                <div class="b-two-col__col b-two-col__col-last">
                    <img class="b-banner" alt="" src="{{ asset('public/img/banner-2.png') }}"/>
                </div>
                <!-- banner -->

                <div class="clear"></div>
            </div>
            <!-- b-two-banners -->
            <div class="clear"></div>
        </div>
        <!-- b-four-col -->

        <div class="clear"></div>
    </div> <!-- row -->


    <div class="b-tours-grey">
        <div class="b-tours-grey__bg">
            <ul>
                <li class="b-tours-grey__item b-tours-grey__security">
                    Безопасность превыше всего! Путешествуя вместе с нами Вы получите приятные эмоции и чувство
                    защищености
                    в любой точки мира.
                </li>
                <li class="b-tours-grey__item b-tours-grey__time">
                    Время - деньги! Мы понимаем что динамическое развитие бизнеса требует быстрого обслуживания и четких
                    решений.
                </li>
                <li class="b-tours-grey__item b-tours-grey__quality">
                    Качество залог успеха. Мы предоставляем качественные услуги нашим клиентам вот уже 14 лет, и
                    являемся
                    лидерами отрасли.
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}