


<div class="row">
    <div class="b-four-col" id="container">
        {% for n in tours %}
            {% include 'TransNewsBundle:News:_newsItem.html.twig' with {'n' : n, 'index' : loop.index,'route':'trans_news_tour'} %}
        {% endfor %}
    </div>
    <div class="clear"></div>
</div> <!-- b-four-col -->
<div class="clear"></div>