{% extends '::base.html.twig' %}
{% block body %}
    <div class="row b-news-full">
        <div class="b-news-post">
            <h2 class="b-news-post__title">
                {{ tour.title|raw }}
            </h2>

            <div class="b-date">
                {{ tour.createdAt|date('d M  Y в H:i') }}
            </div>
            <!-- b-date -->
            {{ tour.shortDescription|raw }}
            {{ tour.fullDescription|raw }}
        </div>
        <!-- b-news-post -->
        <div class="clear"></div>
    </div>

    {{ include('@TransPartial/slogans.html.twig') }}

{% endblock %}