<ul>
    {% for child in children %}
        <li>
            <a href="{{ path('trans_page_about_sub_page', { slug: child.slug }) }}">{{ child.title|lower }}</a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ path('trans_page_about_lufthansa') }}">{{ 'Lufthansa City Center'|trans|lower }}</a>
    </li>
    <li>
        <a href="{{ path('trans_awards_homepage') }}">{{ 'tranavia awards menu'|trans|lower }}</a>
    </li>

</ul>