<ul>
    <li>
        <a href="{{ path('order_train_new') }}">{{ 'jd'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('trans_hotel_homepage') }}">{{ 'hotels'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('order_tour_new') }}">{{ 'tour'|trans }}</a>
    </li>
    {% for child in children %}
        <li>
            <a href="{{ path('trans_page_service_sub_page', { slug: child.slug }) }}">{{ child.title }}</a>
        </li>
    {% endfor %}
</ul>