{% extends '::base.html.twig' %}

{% block body %}
    <div class="b-contacts row">
        <h2>
        </h2>

        <div class="b-contacts__sidemenu">
            <ul>

                {% for contact in contacts %}
                    <li class="b-sidemenu__item {% if chosen.id == contact.id %} js-selected {% endif %}">
                        <a href="{{ path('trans_service_contacts', {partial: contact.partialId}) }}">{{ contact.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="b-contacts__office">
            <h2 class="b-contacts__office__title">
                {{ chosen.title|capitalize }}
            </h2>

            {{ chosen.content|raw }}
            <div class="b-contacts-top"></div>
            <div class="b-contacts-middle"></div>
            <div class="b-contacts-bottom"></div>
        </div>

        <div class="b-contacts__social">
            <h2 class="b-contacts__social__title">
                Мы в социальных сетях
            </h2>

            {{ partial('soc-seti')|raw }}
        </div>

        <div class="b-all-offices-link">
            <span><a class="red underline underline-red" href="#">Все офисы на карте</a></span>
        </div>

        <div class="clear"></div>
    </div> <!-- b-contacts -->



    <div class="row">
        <div class="b-awards-representation b-banner-representation">
            <div class="b-banner b-contacts__banner pull-left">
                {% render controller('TransTicketBundle:Banner:getBanner', {'bannerPosition':'contacts'}) %}
            </div>
            <!-- banner -->

            {#Our representatives#}
            {{ include('@TransMain/Home/_map.html.twig') }}
            <!-- representation -->

            <div class="clear"></div>
        </div>
    </div> <!-- awards-representation -->
{% endblock %}